{
  "openapi": "3.1.0",
  "info": {
    "title": "Salam Həyətimiz API",
    "version": "1.3.0",
    "summary": "REST API for the Salam Həyətimiz remote access-control platform.",
    "description": "# Overview\n\nThis document is the **binding contract** between the Laravel backend and all clients\n(Flutter mobile app, Blade admin panel, and Kapital Bank webhooks). It is the source\nof truth referenced by `TECHNICAL_SPECIFICATION.md` §9 and aligns with `DATABASE_ARCHITECTURE.md` v1.0.\n\nThe API is split into two surfaces:\n\n| Surface | Prefix | Audience | Auth |\n|---|---|---|---|\n| Mobile / Public | `/v1` | End users, device owners, technical mobile mode | Phone + OTP → JWT (`bearerAuth`) |\n| Admin | `/admin/v1` | Super admin, technical (back-office) | Email + password + TOTP → JWT (`adminBearerAuth`) |\n| Webhooks | `/v1/payments/callback` | Kapital Bank | HMAC signature + IP allowlist |\n\nAll times are **UTC** in **RFC 3339** form. All money is in **minor units** (qəpik;\n1 AZN = 100). Currency is always **AZN**.\n\n# Authentication\n\n## Mobile (`bearerAuth`)\nPhone-based OTP authentication. The flow:\n\n1. `POST /auth/otp/request` with phone — backend dispatches a 6-digit SMS OTP (TTL 120 s, max 5 attempts).\n2. `POST /auth/otp/verify` with phone + code + device fingerprint — backend issues a JWT access token (15 min) and an opaque refresh token (60 days).\n3. Send `Authorization: Bearer <access_token>` on subsequent calls.\n4. Refresh with `POST /auth/refresh` when the access token nears expiry; refresh tokens **rotate** on every use.\n\nTokens are bound to the install (`device_fingerprint`); changing devices requires re-OTP.\nLogout (`POST /auth/logout`) revokes the refresh token server-side.\n\n## Admin (`adminBearerAuth`)\nEmail + password + mandatory TOTP for super admin. Two-step login:\n\n1. `POST /admin/v1/auth/login` → short-lived 2FA challenge token.\n2. `POST /admin/v1/auth/2fa/verify` → admin JWT.\n\nAdmin tokens are not interchangeable with mobile tokens — disjoint identity spaces.\n\n## Bank callback (`bankCallbackSignature`)\nSigned by Kapital Bank with `X-Kapital-Signature` (HMAC-SHA256 over the canonical body\nusing a shared secret). Server **always** double-verifies via `getOrderStatus` before\nmutating state (defence-in-depth).\n\n# Authorization\n\nAuthorization is enforced server-side on every endpoint. Roles:\n\n| Role | Identity | Where |\n|---|---|---|\n| `user` | Any authenticated mobile user | Default for mobile endpoints |\n| `owner` | `device_users.role='owner'` for the target device | Roster + invitations |\n| `technical_mobile` | An admin with `role='technical'` operating in mobile | Device provisioning endpoints in mobile mode |\n| `super_admin` | `admin_users.role='super_admin'` | Full admin |\n| `technical` | `admin_users.role='technical'` | Admin: devices module + read-only users |\n\nPer-endpoint authorization requirements are documented in each operation's\n`x-authorization` field and enforced via Laravel policies.\n\n# Pagination\n\nAll list endpoints use **opaque cursor pagination** — never offset.\n\nRequest:\n```\nGET /v1/devices/{id}/commands?limit=50&cursor=eyJpZCI6MTIzNCwidCI6IjIwMjYtMDYtMDhUMDA6MDA6MDBaIn0\n```\n\n| Query param | Type | Default | Max | Notes |\n|---|---|---|---|---|\n| `limit` | int | 25 | 100 | Page size |\n| `cursor` | string | — | — | Opaque; from previous response's `page.next_cursor` |\n| `order` | enum | `desc` | — | `asc` or `desc` on default sort key |\n\nResponse envelope:\n```json\n{\n  \"data\": [...],\n  \"page\": {\n    \"next_cursor\": \"eyJ...\",\n    \"has_more\": true,\n    \"limit\": 50\n  }\n}\n```\n\n`next_cursor` is `null` when there are no further pages.\n\n# Idempotency\n\nAll mutating endpoints accept and recommend the `Idempotency-Key` header.\n\n- The key MUST be a UUID v4 (or any string ≤ 60 chars).\n- The server stores the canonical response keyed by `(scope, actor, key)` for **24 h** (table: `idempotency_keys`).\n- Replays with the same key return the **same status and body**, without re-executing.\n- Replays with the same key but a different request body return `409 conflict` (`idempotency_mismatch`).\n\nEndpoints that **require** Idempotency-Key (server rejects on absence):\n- `POST /devices/{id}/open`\n- `POST /orders`\n- `POST /subscriptions/{id}/renew`\n- `POST /admin/v1/orders/{id}/refund`\n\nAll other mutating endpoints **accept but do not require** it.\n\n# Rate Limits\n\nLimits are enforced at the API gateway. Every response includes:\n\n```\nX-RateLimit-Limit: 120\nX-RateLimit-Remaining: 117\nX-RateLimit-Reset: 1717945200\n```\n\n| Bucket | Limit |\n|---|---|\n| `/auth/otp/request` | 3 / phone / 10 min, 30 / IP / hour |\n| `/auth/otp/verify` | 10 / phone / 10 min |\n| `/devices/*/open` | 12 / user / min, 4 / device / min |\n| Authenticated mobile generic | 120 req / min / user |\n| Admin generic | 600 req / min / admin |\n| `/payments/callback` | 600 req / min / source-IP (allowlisted) |\n| Unauthenticated generic | 30 req / min / IP |\n\nExceeding any bucket returns **`429 rate_limited`** with `Retry-After` (seconds).\n\n# Errors\n\nUniform error envelope across all endpoints:\n\n```json\n{\n  \"error\": {\n    \"code\": \"subscription_required\",\n    \"message_key\": \"errors.subscription_required\",\n    \"message\": \"Aboneliyiniz başa çatıb.\",\n    \"details\": { \"device_id\": 42 },\n    \"request_id\": \"01JCGZ9F9XZ7P0X5MFK7Z7VYNZ\"\n  }\n}\n```\n\n`message` is localized per `Accept-Language` (az/ru/en). `message_key` is locale-independent\nand stable for client logic. `request_id` is the correlation ID also written to the audit log.\n\nStandard codes:\n\n| HTTP | `code` | When |\n|---|---|---|\n| 400 | `bad_request` | Malformed request beyond field validation |\n| 401 | `unauthenticated` | Missing / invalid / expired token |\n| 403 | `forbidden` | Authenticated but disallowed |\n| 403 | `subscription_required` | Sub is not `active` for the device/user |\n| 403 | `device_disabled` | Device disabled by admin |\n| 404 | `not_found` | |\n| 409 | `conflict` | Resource state precludes operation |\n| 409 | `idempotency_mismatch` | Same key, different body |\n| 422 | `validation_failed` | Field-level errors (see `ValidationError`) |\n| 429 | `rate_limited` | Bucket exhausted |\n| 429 | `cooldown` | Open-command cooldown active |\n| 502 | `device_offline` | Driver could not reach device |\n| 503 | `payment_provider_unavailable` | Kapital Bank unreachable / degraded |\n| 500 | `internal_error` | Unexpected; check `request_id` |\n\n# Versioning\n\nPath-versioned (`/v1/`). Breaking changes ship under `/v2/`. Within a major version we add\nnew fields / endpoints additively. Deprecation announced via `Sunset` header at least 90 days\nbefore removal.\n\n# Conventions\n\n- `Content-Type: application/json; charset=utf-8` on all bodies.\n- `Accept-Language: az | ru | en` — defaults to `az`.\n- All IDs are unsigned 64-bit integers serialized as JSON numbers (always < `Number.MAX_SAFE_INTEGER` for the foreseeable future; client libraries should still treat as 64-bit).\n- `null` is used for absence; never empty-string sentinels.\n- Booleans are `true`/`false`, never `0`/`1`.\n",
    "contact": {
      "name": "Salam Həyətimiz Engineering",
      "email": "engineering@salamhayetimiz.az"
    },
    "license": {
      "name": "Proprietary",
      "identifier": "LicenseRef-Proprietary"
    }
  },
  "servers": [
    {
      "url": "https://api.salamheyetimiz.com",
      "description": "Production"
    },
    {
      "url": "http://localhost:8000",
      "description": "Local development"
    }
  ],
  "tags": [
    {
      "name": "Auth",
      "description": "Phone-OTP authentication (mobile)"
    },
    {
      "name": "Profile",
      "description": "Current-user profile, consents, biometrics"
    },
    {
      "name": "Devices",
      "description": "User-facing device list and detail"
    },
    {
      "name": "Roster",
      "description": "Owner-side roster management"
    },
    {
      "name": "Invitations",
      "description": "Sending / accepting invitations"
    },
    {
      "name": "Commands",
      "description": "Open commands and history"
    },
    {
      "name": "Subscriptions",
      "description": "User-visible subscription state"
    },
    {
      "name": "Orders & Payments",
      "description": "Checkout, payment status, receipts"
    },
    {
      "name": "Notifications",
      "description": "Inbox + preferences"
    },
    {
      "name": "Privacy",
      "description": "Consent + data-subject requests"
    },
    {
      "name": "Health",
      "description": "Liveness / readiness"
    },
    {
      "name": "Webhooks",
      "description": "Inbound callbacks (Kapital Bank, SMS provider)"
    },
    {
      "name": "Admin / Auth"
    },
    {
      "name": "Admin / Dashboard"
    },
    {
      "name": "Admin / Users"
    },
    {
      "name": "Admin / Admins"
    },
    {
      "name": "Admin / Devices"
    },
    {
      "name": "Admin / Lookups"
    },
    {
      "name": "Admin / Orders"
    },
    {
      "name": "Admin / Refunds"
    },
    {
      "name": "Admin / Subscriptions"
    },
    {
      "name": "Admin / Reports"
    },
    {
      "name": "Admin / Audit"
    },
    {
      "name": "Admin / Settings"
    },
    {
      "name": "Admin / Feature Flags"
    },
    {
      "name": "Admin / Notification Templates"
    },
    {
      "name": "Admin / Access Control",
      "description": "Dynamic RBAC — roles, permission catalog, per-admin overrides"
    },
    {
      "name": "Admin / Impersonation",
      "description": "Start / stop impersonating an admin"
    },
    {
      "name": "Admin / Complexes",
      "description": "Residential complex management + manager assignment"
    },
    {
      "name": "Admin / Residents",
      "description": "Resident directory (complex-scoped)"
    },
    {
      "name": "Admin / System",
      "description": "Live system health"
    },
    {
      "name": "Admin / Payment Logs",
      "description": "Outbound BirPay calls + inbound webhooks + statistics"
    },
    {
      "name": "Kapital Bank",
      "description": "BirPay (Kapital) payment integration — create, redirect, webhook, refund, sync"
    },
    {
      "name": "Traccar",
      "description": "Traccar telemetry forward + integration status"
    },
    {
      "name": "Auth / Registration",
      "description": "Email-OTP registration + login (unified envelope) — the going-forward mobile auth surface"
    },
    {
      "name": "App / Bootstrap",
      "description": "One-shot guest + authenticated app bootstrap (so the client never fans out on launch)"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/health/live": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "Liveness probe",
        "operationId": "getHealthLive",
        "security": [],
        "responses": {
          "200": {
            "description": "Process up",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthStatus"
                }
              }
            }
          }
        }
      }
    },
    "/v1/health/ready": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "Readiness probe (DB + Redis + queue)",
        "operationId": "getHealthReady",
        "security": [],
        "responses": {
          "200": {
            "description": "Ready",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthStatus"
                }
              }
            }
          },
          "503": {
            "description": "One or more dependencies unhealthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthStatus"
                }
              }
            }
          }
        }
      }
    },
    "/.well-known/jwks.json": {
      "get": {
        "tags": [
          "Admin / Auth"
        ],
        "summary": "JSON Web Key Set for admin JWT verification",
        "operationId": "getJwks",
        "security": [],
        "description": "Public verification keys for admin-issued JWTs, keyed by `kid`. Two `kid`s\nmay be valid simultaneously during a rotation. Mobile clients pin and do\nnot consume JWKS; this endpoint is on the admin host only.\n",
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Jwks"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/otp/request": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Request an OTP for the given phone number",
        "operationId": "requestOtp",
        "security": [],
        "x-rate-limit": "3/phone/10min, 30/IP/hour",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "phone"
                ],
                "properties": {
                  "phone": {
                    "type": "string",
                    "pattern": "^\\+994\\d{9}$",
                    "example": "+994501234567"
                  },
                  "purpose": {
                    "type": "string",
                    "enum": [
                      "login",
                      "recover"
                    ],
                    "default": "login"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "OTP dispatched (response identical regardless of phone existence — prevents enumeration)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "expires_in_seconds": {
                      "type": "integer",
                      "example": 120
                    },
                    "resend_available_in_seconds": {
                      "type": "integer",
                      "example": 30
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/auth/otp/verify": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Verify an OTP and exchange for tokens",
        "operationId": "verifyOtp",
        "security": [],
        "x-rate-limit": "10/phone/10min",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "phone",
                  "code",
                  "device"
                ],
                "properties": {
                  "phone": {
                    "type": "string",
                    "pattern": "^\\+994\\d{9}$"
                  },
                  "code": {
                    "type": "string",
                    "pattern": "^\\d{6}$"
                  },
                  "device": {
                    "$ref": "#/components/schemas/DeviceFingerprintInput"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Auth success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthSuccess"
                }
              }
            }
          },
          "401": {
            "description": "Wrong code / expired / max attempts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "wrong_code": {
                    "value": {
                      "error": {
                        "code": "wrong_code",
                        "message": "Kod yanlışdır."
                      }
                    }
                  },
                  "expired": {
                    "value": {
                      "error": {
                        "code": "otp_expired",
                        "message": "Kodun vaxtı bitib."
                      }
                    }
                  },
                  "max_attempts": {
                    "value": {
                      "error": {
                        "code": "otp_max_attempts",
                        "message": "Çox cəhd oldu."
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/auth/refresh": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Exchange refresh token for a fresh access+refresh pair",
        "operationId": "refreshToken",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "refresh_token"
                ],
                "properties": {
                  "refresh_token": {
                    "type": "string",
                    "minLength": 30,
                    "maxLength": 200
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tokens rotated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthSuccess"
                }
              }
            }
          },
          "401": {
            "description": "Refresh token invalid, revoked, or replayed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/logout": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Revoke the current refresh token",
        "operationId": "logout",
        "responses": {
          "204": {
            "description": "Revoked"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          }
        }
      }
    },
    "/v1/me": {
      "get": {
        "tags": [
          "App / Bootstrap"
        ],
        "summary": "Current user + authenticated bootstrap (one-shot)",
        "operationId": "currentUser",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "description": "The current user PLUS everything the authed app needs on launch (no second/third request):\nprofile, registration_completed, email_verified, has_password, locale, timezone, app config +\nfeature flags, the user's installs, active subscriptions, unread-notifications count, permissions.\n**The `data` object is intentionally extensible** — future sections (apartments, vehicles, devices,\ncomplexes, notifications, invitations, visitor_passes, family_members, payments) are added as NEW\nkeys without changing the existing contract.\n",
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeBootstrapEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          }
        }
      }
    },
    "/v1/me/biometrics/enroll": {
      "post": {
        "tags": [
          "Profile"
        ],
        "summary": "Mark biometric unlock as enrolled for this install",
        "operationId": "enrollBiometrics",
        "responses": {
          "204": {
            "description": "ok"
          }
        }
      }
    },
    "/v1/me/biometrics": {
      "delete": {
        "tags": [
          "Profile"
        ],
        "summary": "Disable biometric unlock for this install",
        "operationId": "disableBiometrics",
        "responses": {
          "204": {
            "description": "ok"
          }
        }
      }
    },
    "/v1/devices": {
      "get": {
        "tags": [
          "Devices"
        ],
        "summary": "List the current user's devices (owned + member)",
        "operationId": "listMyDevices",
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "in": "query",
            "name": "filter",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "owned",
                "member",
                "suspended"
              ],
              "default": "all"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/devices/{deviceId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/DeviceId"
        }
      ],
      "get": {
        "tags": [
          "Devices"
        ],
        "summary": "Device detail",
        "operationId": "getDevice",
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceDetail"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/devices/{deviceId}/stats": {
      "parameters": [
        {
          "$ref": "#/components/parameters/DeviceId"
        }
      ],
      "get": {
        "tags": [
          "Devices"
        ],
        "summary": "Aggregated stats for the device (owner sees more granular numbers)",
        "operationId": "getDeviceStats",
        "parameters": [
          {
            "in": "query",
            "name": "period",
            "schema": {
              "type": "string",
              "enum": [
                "7d",
                "30d",
                "90d"
              ],
              "default": "30d"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceStats"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/devices/{deviceId}/open": {
      "parameters": [
        {
          "$ref": "#/components/parameters/DeviceId"
        }
      ],
      "post": {
        "tags": [
          "Commands"
        ],
        "summary": "Issue an open command",
        "operationId": "openDevice",
        "description": "Idempotent. The `Idempotency-Key` is also persisted as `open_commands.idempotency_key`\n— replays return the cached command without dispatching again.\n\nAuthorization: user must be on the device roster, subscription must be `active`,\ndevice must not be `disabled`.\n",
        "x-authorization": "user; must be on roster with active subscription",
        "x-rate-limit": "12/user/min, 4/device/min",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKeyRequired"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "client_app_version": {
                    "type": "string",
                    "maxLength": 20
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Command queued; poll `/commands/{id}` or subscribe via WebSocket",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenCommandAccepted"
                }
              }
            }
          },
          "403": {
            "description": "subscription_required / device_disabled / forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/IdempotencyConflict"
          },
          "429": {
            "description": "Cooldown or global rate limit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds until next allowed attempt"
              }
            }
          },
          "502": {
            "description": "Device unreachable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/devices/{deviceId}/commands": {
      "parameters": [
        {
          "$ref": "#/components/parameters/DeviceId"
        }
      ],
      "get": {
        "tags": [
          "Commands"
        ],
        "summary": "Open-command history for the device (current user)",
        "operationId": "listDeviceCommands",
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "in": "query",
            "name": "since",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "in": "query",
            "name": "until",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "in": "query",
            "name": "state",
            "schema": {
              "type": "string",
              "enum": [
                "queued",
                "dispatched",
                "opened",
                "failed",
                "expired"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenCommandListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/commands/{commandId}": {
      "parameters": [
        {
          "in": "path",
          "name": "commandId",
          "required": true,
          "schema": {
            "type": "integer",
            "format": "int64",
            "minimum": 1
          }
        }
      ],
      "get": {
        "tags": [
          "Commands"
        ],
        "summary": "Get a single open command (terminal state polling)",
        "operationId": "getCommand",
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenCommand"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/commands/{commandId}/feedback": {
      "parameters": [
        {
          "in": "path",
          "name": "commandId",
          "required": true,
          "schema": {
            "type": "integer",
            "format": "int64",
            "minimum": 1
          }
        }
      ],
      "post": {
        "tags": [
          "Commands"
        ],
        "summary": "User-reported actuation confirmation (v1.1, CRIT-06)",
        "operationId": "submitOpenFeedback",
        "description": "Used after opens where `driver_confirms_actuation = false` to capture whether the\ngate actually moved. One feedback per (command, user); replays return the previous value.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "gate_moved"
                ],
                "properties": {
                  "gate_moved": {
                    "type": "boolean"
                  },
                  "comment": {
                    "type": "string",
                    "maxLength": 255,
                    "nullable": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Replay; feedback already on record"
          },
          "201": {
            "description": "Feedback recorded"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/devices/{deviceId}/users": {
      "parameters": [
        {
          "$ref": "#/components/parameters/DeviceId"
        }
      ],
      "get": {
        "tags": [
          "Roster"
        ],
        "summary": "Roster of users for this device",
        "operationId": "listDeviceRoster",
        "x-authorization": "owner of deviceId",
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceRosterListResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/devices/{deviceId}/users/{userId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/DeviceId"
        },
        {
          "in": "path",
          "name": "userId",
          "required": true,
          "schema": {
            "type": "integer",
            "format": "int64"
          }
        }
      ],
      "delete": {
        "tags": [
          "Roster"
        ],
        "summary": "Revoke a user from this device (owner only)",
        "operationId": "revokeRosterUser",
        "x-authorization": "owner of deviceId; cannot self-revoke the only owner",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "204": {
            "description": "Revoked; whitelist sync enqueued"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "Cannot revoke last owner",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/devices/{deviceId}/invitations": {
      "parameters": [
        {
          "$ref": "#/components/parameters/DeviceId"
        }
      ],
      "post": {
        "tags": [
          "Invitations"
        ],
        "summary": "Invite a new user to the device",
        "operationId": "createInvitation",
        "x-authorization": "owner of deviceId",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvitationCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created; SMS dispatched to invitee",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invitation"
                }
              }
            }
          },
          "402": {
            "description": "Payment required (when payer=owner and no order yet); body contains an order to settle",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invitation": {
                      "$ref": "#/components/schemas/Invitation"
                    },
                    "order": {
                      "$ref": "#/components/schemas/Order"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Capacity / burst conflict (v1.1, HIGH-01 / HIGH-05).\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "roster_capacity_exceeded": {
                    "value": {
                      "error": {
                        "code": "roster_capacity_exceeded",
                        "message_key": "errors.roster_capacity_exceeded",
                        "message": "Bu cihazın istifadəçi limiti tamamlanıb.",
                        "details": {
                          "capacity": 10,
                          "current": 10
                        }
                      }
                    }
                  },
                  "too_many_pending_changes": {
                    "value": {
                      "error": {
                        "code": "too_many_pending_changes",
                        "message_key": "errors.too_many_pending_changes",
                        "message": "Cihaza yazılmalı dəyişikliklər gözləyir.",
                        "details": {
                          "pending": 5,
                          "max": 5
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      },
      "get": {
        "tags": [
          "Invitations"
        ],
        "summary": "List pending invitations on the device",
        "operationId": "listDeviceInvitations",
        "x-authorization": "owner of deviceId",
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "in": "query",
            "name": "status",
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "accepted",
                "declined",
                "expired",
                "cancelled"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvitationListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/invitations/{token}": {
      "parameters": [
        {
          "in": "path",
          "name": "token",
          "required": true,
          "schema": {
            "type": "string",
            "minLength": 10,
            "maxLength": 60
          }
        }
      ],
      "get": {
        "tags": [
          "Invitations"
        ],
        "summary": "Inspect an invitation by token (used by invitee after registration)",
        "operationId": "getInvitationByToken",
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invitation"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "410": {
            "description": "Invitation expired or already terminal",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/invitations/{token}/accept": {
      "parameters": [
        {
          "in": "path",
          "name": "token",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "tags": [
          "Invitations"
        ],
        "summary": "Accept an invitation",
        "operationId": "acceptInvitation",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "200": {
            "description": "Accepted; if payer=invitee, body contains an order to settle",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "device_user": {
                      "$ref": "#/components/schemas/DeviceUser"
                    },
                    "order": {
                      "oneOf": [
                        {
                          "$ref": "#/components/schemas/Order"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "410": {
            "description": "Expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/invitations/{token}/decline": {
      "parameters": [
        {
          "in": "path",
          "name": "token",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "tags": [
          "Invitations"
        ],
        "summary": "Decline an invitation",
        "operationId": "declineInvitation",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "204": {
            "description": "Declined"
          },
          "410": {
            "description": "Expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/subscriptions": {
      "get": {
        "tags": [
          "Subscriptions"
        ],
        "summary": "List the current user's subscriptions",
        "operationId": "listMySubscriptions",
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "in": "query",
            "name": "status",
            "schema": {
              "type": "string",
              "enum": [
                "pending_payment",
                "active",
                "expired",
                "cancelled",
                "refunded"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/subscriptions/{subscriptionId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/SubscriptionId"
        }
      ],
      "get": {
        "tags": [
          "Subscriptions"
        ],
        "summary": "Subscription detail (with period history)",
        "operationId": "getSubscription",
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionDetail"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/subscriptions/{subscriptionId}/renew": {
      "parameters": [
        {
          "$ref": "#/components/parameters/SubscriptionId"
        }
      ],
      "post": {
        "tags": [
          "Subscriptions"
        ],
        "summary": "Initiate a manual renewal — creates an order and returns the bank redirect",
        "operationId": "renewSubscription",
        "x-authorization": "must be the payer (owner for main, owner or sub-user for additional)",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKeyRequired"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "return_url": {
                    "type": "string",
                    "format": "uri",
                    "example": "salam://payment/return"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "409": {
            "description": "Subscription not eligible for renewal in current state",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/subscriptions/{subscriptionId}/auto-renew": {
      "parameters": [
        {
          "$ref": "#/components/parameters/SubscriptionId"
        }
      ],
      "patch": {
        "tags": [
          "Subscriptions"
        ],
        "summary": "Toggle auto-renew on/off (requires saved card token)",
        "operationId": "toggleAutoRenew",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "auto_renew"
                ],
                "properties": {
                  "auto_renew": {
                    "type": "boolean"
                  },
                  "card_token_id": {
                    "type": "integer",
                    "format": "int64",
                    "nullable": true,
                    "description": "Required when enabling. Token must belong to caller."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscription"
                }
              }
            }
          },
          "409": {
            "description": "Auto-renew not available yet (no Kapital tokenization)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/orders": {
      "get": {
        "tags": [
          "Orders & Payments"
        ],
        "summary": "List the current user's orders",
        "operationId": "listMyOrders",
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "in": "query",
            "name": "status",
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "authorising",
                "paid",
                "failed",
                "cancelled",
                "refunded",
                "partially_refunded",
                "expired"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderListResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Orders & Payments"
        ],
        "summary": "Create a payment order",
        "operationId": "createOrder",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKeyRequired"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created; bank redirect ready",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "402": {
            "description": "Order created in `pending`; client should redirect to `bank_redirect_url`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "503": {
            "$ref": "#/components/responses/PaymentProviderUnavailable"
          }
        }
      }
    },
    "/v1/orders/{orderId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/OrderId"
        }
      ],
      "get": {
        "tags": [
          "Orders & Payments"
        ],
        "summary": "Get order detail (with payments timeline)",
        "operationId": "getOrder",
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderDetail"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/orders/{orderId}/recheck": {
      "parameters": [
        {
          "$ref": "#/components/parameters/OrderId"
        }
      ],
      "post": {
        "tags": [
          "Orders & Payments"
        ],
        "summary": "Force a status recheck against the bank (rare; auto-reconciler does this hourly)",
        "operationId": "recheckOrder",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "200": {
            "description": "Latest known state after recheck",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "503": {
            "$ref": "#/components/responses/PaymentProviderUnavailable"
          }
        }
      }
    },
    "/v1/notifications": {
      "get": {
        "tags": [
          "Notifications"
        ],
        "summary": "In-app notification inbox",
        "operationId": "listNotifications",
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "in": "query",
            "name": "status",
            "schema": {
              "type": "string",
              "enum": [
                "sent",
                "read"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/notifications/{notificationId}/read": {
      "parameters": [
        {
          "in": "path",
          "name": "notificationId",
          "required": true,
          "schema": {
            "type": "integer",
            "format": "int64"
          }
        }
      ],
      "post": {
        "tags": [
          "Notifications"
        ],
        "summary": "Mark a notification as read",
        "operationId": "markNotificationRead",
        "responses": {
          "204": {
            "description": "ok"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/notifications/read-all": {
      "post": {
        "tags": [
          "Notifications"
        ],
        "summary": "Mark all unread notifications as read",
        "operationId": "markAllNotificationsRead",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "204": {
            "description": "ok"
          }
        }
      }
    },
    "/v1/notifications/settings": {
      "get": {
        "tags": [
          "Notifications"
        ],
        "summary": "Per-template / per-channel preferences",
        "operationId": "getNotificationSettings",
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationSettingsListResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Notifications"
        ],
        "summary": "Bulk update preferences",
        "operationId": "updateNotificationSettings",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "settings"
                ],
                "properties": {
                  "settings": {
                    "type": "array",
                    "maxItems": 200,
                    "items": {
                      "$ref": "#/components/schemas/NotificationSettingUpdate"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationSettingsListResponse"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/v1/notifications/push-token": {
      "put": {
        "tags": [
          "Notifications"
        ],
        "summary": "Register / refresh the FCM push token for the current install",
        "operationId": "upsertPushToken",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "push_token"
                ],
                "properties": {
                  "push_token": {
                    "type": "string",
                    "minLength": 10,
                    "maxLength": 255
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "ok"
          }
        }
      }
    },
    "/v1/consents": {
      "post": {
        "tags": [
          "Privacy"
        ],
        "summary": "Record a consent grant or revocation",
        "operationId": "recordConsent",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConsentCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Stored",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Consent"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      },
      "get": {
        "tags": [
          "Privacy"
        ],
        "summary": "Latest consent state per kind for the current user",
        "operationId": "listMyConsents",
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Consent"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/privacy/export": {
      "post": {
        "tags": [
          "Privacy"
        ],
        "summary": "Request a personal-data export",
        "operationId": "requestDataExport",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "202": {
            "description": "Queued; result delivered via notification",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataSubjectRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v1/privacy/deletion": {
      "post": {
        "tags": [
          "Privacy"
        ],
        "summary": "Request account deletion (alternative to DELETE /me)",
        "operationId": "requestDataDeletion",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "confirm_phone"
                ],
                "properties": {
                  "confirm_phone": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Queued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataSubjectRequest"
                }
              }
            }
          }
        }
      }
    },
    "/v1/technical/devices": {
      "post": {
        "tags": [
          "Devices"
        ],
        "summary": "Register a new physical device (technical mobile mode)",
        "operationId": "techRegisterDevice",
        "x-authorization": "admin role=technical (mobile mode via admin JWT)",
        "security": [
          {
            "adminBearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeviceTechRegister"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created in `unassigned`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceAdmin"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/v1/technical/devices/{deviceId}/assign": {
      "parameters": [
        {
          "$ref": "#/components/parameters/DeviceId"
        }
      ],
      "post": {
        "tags": [
          "Devices"
        ],
        "summary": "Assign an owner to a device (technical mobile mode)",
        "operationId": "techAssignDevice",
        "x-authorization": "admin role=technical or super_admin",
        "security": [
          {
            "adminBearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "owner_phone"
                ],
                "properties": {
                  "owner_phone": {
                    "type": "string",
                    "pattern": "^\\+994\\d{9}$"
                  },
                  "region_id": {
                    "type": "integer",
                    "format": "int64",
                    "nullable": true
                  },
                  "location_label": {
                    "type": "string",
                    "maxLength": 160,
                    "nullable": true
                  },
                  "latitude": {
                    "type": "number",
                    "nullable": true
                  },
                  "longitude": {
                    "type": "number",
                    "nullable": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceAdmin"
                }
              }
            }
          },
          "409": {
            "description": "Device already assigned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/technical/devices/{deviceId}/diagnostics/ping": {
      "parameters": [
        {
          "$ref": "#/components/parameters/DeviceId"
        }
      ],
      "post": {
        "tags": [
          "Devices"
        ],
        "summary": "Synchronous diagnostics ping",
        "operationId": "techDiagnosticsPing",
        "x-authorization": "admin",
        "security": [
          {
            "adminBearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceDiagnostic"
                }
              }
            }
          },
          "502": {
            "description": "Device unreachable"
          }
        }
      }
    },
    "/v1/payments/callback": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Kapital Bank payment callback",
        "operationId": "paymentCallback",
        "description": "Verified by HMAC signature in `X-Kapital-Signature`, then by `getOrderStatus` against\nthe bank. Idempotent against re-delivery: identical payload hashes are deduplicated\nvia `payment_callbacks.payload_hash`.\n\nIP allowlist enforced at the edge — requests outside the list are dropped before this\nhandler is invoked.\n",
        "security": [
          {
            "bankCallbackSignature": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "X-Kapital-Signature",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KapitalCallback"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Accepted (also returned on duplicate replay)"
          },
          "400": {
            "description": "Body unparseable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Signature missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sms/inbound": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Inbound SMS replies from device or user",
        "operationId": "smsInbound",
        "security": [
          {
            "smsProviderSignature": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "X-Sms-Signature",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "from",
                  "to",
                  "body",
                  "received_at"
                ],
                "properties": {
                  "from": {
                    "type": "string",
                    "pattern": "^\\+\\d{6,15}$"
                  },
                  "to": {
                    "type": "string",
                    "pattern": "^\\+\\d{6,15}$"
                  },
                  "body": {
                    "type": "string",
                    "maxLength": 1600
                  },
                  "received_at": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "provider_message_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Accepted"
          },
          "401": {
            "description": "Bad signature",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/auth/login": {
      "post": {
        "tags": [
          "Admin / Auth"
        ],
        "summary": "Step 1 — email + password, returns 2FA challenge",
        "operationId": "adminLogin",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "password"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "password": {
                    "type": "string",
                    "minLength": 8,
                    "maxLength": 128
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "2FA challenge issued",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "challenge_token": {
                      "type": "string"
                    },
                    "expires_in_seconds": {
                      "type": "integer",
                      "example": 300
                    },
                    "requires_totp": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Bad credentials / account locked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/auth/2fa/verify": {
      "post": {
        "tags": [
          "Admin / Auth"
        ],
        "summary": "Step 2 — submit TOTP or recovery code, receive admin JWT",
        "operationId": "adminVerify2fa",
        "description": "*(v1.1, CRIT-09)* Accepts EITHER a 6-digit TOTP code OR a 10-hex-character\nsingle-use recovery code. Exactly one of `totp` / `recovery_code` MUST be\npresent. Successful recovery-code use consumes that code.\n",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "challenge_token"
                ],
                "oneOf": [
                  {
                    "required": [
                      "totp"
                    ]
                  },
                  {
                    "required": [
                      "recovery_code"
                    ]
                  }
                ],
                "properties": {
                  "challenge_token": {
                    "type": "string"
                  },
                  "totp": {
                    "type": "string",
                    "pattern": "^\\d{6}$"
                  },
                  "recovery_code": {
                    "type": "string",
                    "pattern": "^[0-9a-fA-F]{10}$",
                    "description": "10 hex chars, case-insensitive; single-use."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/AdminAuthSuccess"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "used_recovery_code": {
                          "type": "boolean",
                          "description": "True if a recovery code was used (UI shows regenerate-codes banner)."
                        },
                        "recovery_codes_remaining": {
                          "type": "integer",
                          "description": "Non-null entries left in the recovery set (0–8)."
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Wrong TOTP / wrong recovery code / consumed recovery code / expired challenge",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "wrong_totp": {
                    "value": {
                      "error": {
                        "code": "wrong_totp",
                        "message": "Yanlış kod."
                      }
                    }
                  },
                  "consumed": {
                    "value": {
                      "error": {
                        "code": "recovery_code_already_used",
                        "message": "Bu kod artıq istifadə olunub."
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/auth/logout": {
      "post": {
        "tags": [
          "Admin / Auth"
        ],
        "summary": "Revoke current admin session",
        "operationId": "adminLogout",
        "security": [
          {
            "adminBearerAuth": []
          }
        ],
        "responses": {
          "204": {
            "description": "ok"
          }
        }
      }
    },
    "/admin/v1/auth/me": {
      "get": {
        "tags": [
          "Admin / Auth"
        ],
        "summary": "Current admin profile",
        "operationId": "adminMe",
        "security": [
          {
            "adminBearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminUser"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/auth/recovery-codes": {
      "post": {
        "tags": [
          "Admin / Auth"
        ],
        "summary": "Generate a fresh set of 8 single-use recovery codes (v1.1, CRIT-09)",
        "operationId": "regenerateRecoveryCodes",
        "security": [
          {
            "adminBearerAuth": []
          }
        ],
        "description": "Invalidates the previous set atomically and returns a new set of 8 codes ONCE.\nRequires a fresh TOTP confirmation in the body (re-auth pattern). The plaintext\ncodes never leave this response.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "totp"
                ],
                "properties": {
                  "totp": {
                    "type": "string",
                    "pattern": "^\\d{6}$"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "New set generated; previous set invalidated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "codes",
                    "generated_at"
                  ],
                  "properties": {
                    "codes": {
                      "type": "array",
                      "minItems": 8,
                      "maxItems": 8,
                      "items": {
                        "type": "string",
                        "pattern": "^[0-9a-f]{10}$"
                      }
                    },
                    "generated_at": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Wrong fresh TOTP",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/metrics/overview": {
      "get": {
        "tags": [
          "Admin / Dashboard"
        ],
        "summary": "Dashboard KPI overview",
        "operationId": "adminMetricsOverview",
        "security": [
          {
            "adminBearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "period",
            "schema": {
              "type": "string",
              "enum": [
                "today",
                "7d",
                "30d"
              ],
              "default": "today"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminMetricsOverview"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/users": {
      "get": {
        "tags": [
          "Admin / Users"
        ],
        "summary": "List end users",
        "operationId": "adminListUsers",
        "security": [
          {
            "adminBearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "in": "query",
            "name": "q",
            "schema": {
              "type": "string",
              "maxLength": 80
            },
            "description": "Free-text search on phone (E.164) or name or email"
          },
          {
            "in": "query",
            "name": "status",
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "blocked",
                "self_deleted"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminUserListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/users/{userId}": {
      "parameters": [
        {
          "in": "path",
          "name": "userId",
          "required": true,
          "schema": {
            "type": "integer",
            "format": "int64"
          }
        }
      ],
      "get": {
        "tags": [
          "Admin / Users"
        ],
        "summary": "User detail",
        "operationId": "adminGetUser",
        "security": [
          {
            "adminBearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminUserDetail"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/admin/v1/users/{userId}/block": {
      "parameters": [
        {
          "in": "path",
          "name": "userId",
          "required": true,
          "schema": {
            "type": "integer",
            "format": "int64"
          }
        }
      ],
      "post": {
        "tags": [
          "Admin / Users"
        ],
        "summary": "Block a user",
        "operationId": "adminBlockUser",
        "security": [
          {
            "adminBearerAuth": []
          }
        ],
        "x-authorization": "super_admin",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "reason"
                ],
                "properties": {
                  "reason": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 255
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminUserDetail"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/users/{userId}/unblock": {
      "parameters": [
        {
          "in": "path",
          "name": "userId",
          "required": true,
          "schema": {
            "type": "integer",
            "format": "int64"
          }
        }
      ],
      "post": {
        "tags": [
          "Admin / Users"
        ],
        "summary": "Unblock a user",
        "operationId": "adminUnblockUser",
        "security": [
          {
            "adminBearerAuth": []
          }
        ],
        "x-authorization": "super_admin",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminUserDetail"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/admins": {
      "get": {
        "tags": [
          "Admin / Admins"
        ],
        "summary": "List admin accounts",
        "operationId": "adminListAdmins",
        "security": [
          {
            "adminBearerAuth": []
          }
        ],
        "x-authorization": "super_admin",
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminUserListAdminsResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Admin / Admins"
        ],
        "summary": "Create an admin",
        "operationId": "adminCreateAdmin",
        "security": [
          {
            "adminBearerAuth": []
          }
        ],
        "x-authorization": "super_admin",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminUserCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminUser"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/admin/v1/admins/{adminId}": {
      "parameters": [
        {
          "in": "path",
          "name": "adminId",
          "required": true,
          "schema": {
            "type": "integer",
            "format": "int64"
          }
        }
      ],
      "patch": {
        "tags": [
          "Admin / Admins"
        ],
        "summary": "Update an admin",
        "operationId": "adminUpdateAdmin",
        "security": [
          {
            "adminBearerAuth": []
          }
        ],
        "x-authorization": "super_admin",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminUserUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminUser"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Admin / Admins"
        ],
        "summary": "Offboard an admin (sets status; not a hard delete)",
        "operationId": "adminOffboardAdmin",
        "security": [
          {
            "adminBearerAuth": []
          }
        ],
        "x-authorization": "super_admin",
        "responses": {
          "204": {
            "description": "ok"
          }
        }
      }
    },
    "/admin/v1/devices": {
      "get": {
        "tags": [
          "Admin / Devices"
        ],
        "summary": "List devices",
        "operationId": "adminListDevices",
        "security": [
          {
            "adminBearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "in": "query",
            "name": "status",
            "schema": {
              "type": "string",
              "enum": [
                "unassigned",
                "active",
                "suspended",
                "disabled",
                "decommissioned"
              ]
            }
          },
          {
            "in": "query",
            "name": "owner_user_id",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "region_id",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "q",
            "schema": {
              "type": "string",
              "maxLength": 80
            },
            "description": "Search by serial or sim_phone"
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminDeviceListResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Admin / Devices"
        ],
        "summary": "Register a device (alternative to mobile technical mode)",
        "operationId": "adminCreateDevice",
        "security": [
          {
            "adminBearerAuth": []
          }
        ],
        "x-authorization": "technical or super_admin",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeviceTechRegister"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceAdmin"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/admin/v1/devices/{deviceId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/DeviceId"
        }
      ],
      "get": {
        "tags": [
          "Admin / Devices"
        ],
        "summary": "Device detail (admin)",
        "operationId": "adminGetDevice",
        "security": [
          {
            "adminBearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceAdminDetail"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "tags": [
          "Admin / Devices"
        ],
        "summary": "Update device",
        "operationId": "adminUpdateDevice",
        "security": [
          {
            "adminBearerAuth": []
          }
        ],
        "x-authorization": "technical or super_admin",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeviceAdminUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceAdmin"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      },
      "delete": {
        "tags": [
          "Admin / Devices"
        ],
        "summary": "Decommission (soft delete)",
        "operationId": "adminDecommissionDevice",
        "security": [
          {
            "adminBearerAuth": []
          }
        ],
        "x-authorization": "super_admin",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "reason"
                ],
                "properties": {
                  "reason": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 255
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "ok"
          }
        }
      }
    },
    "/admin/v1/devices/{deviceId}/image": {
      "parameters": [
        {
          "$ref": "#/components/parameters/DeviceId"
        }
      ],
      "post": {
        "tags": [
          "Admin / Devices"
        ],
        "summary": "Upload the barrier photo (multipart)",
        "description": "Admin-only image upload. Server-side validated (real image + MIME + extension, ≤5 MB), optimised (downscaled to 1600px + WebP when GD is available), stored on the public disk, and the resulting public URL is written to `image_url`. Replaces (and deletes) any previously uploaded file. The response `image_url` contract is unchanged — a plain string URL.\n",
        "operationId": "adminUploadDeviceImage",
        "security": [
          {
            "adminBearerAuth": []
          }
        ],
        "x-authorization": "technical or super_admin (devices.update)",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "image"
                ],
                "properties": {
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "JPG, JPEG, PNG or WEBP — max 5 MB"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceAdmin"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      },
      "delete": {
        "tags": [
          "Admin / Devices"
        ],
        "summary": "Remove the barrier photo",
        "operationId": "adminDeleteDeviceImage",
        "security": [
          {
            "adminBearerAuth": []
          }
        ],
        "x-authorization": "technical or super_admin (devices.update)",
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceAdmin"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/devices/{deviceId}/whitelist/resync": {
      "parameters": [
        {
          "$ref": "#/components/parameters/DeviceId"
        }
      ],
      "post": {
        "tags": [
          "Admin / Devices"
        ],
        "summary": "Force full whitelist resync to device",
        "operationId": "adminResyncWhitelist",
        "security": [
          {
            "adminBearerAuth": []
          }
        ],
        "x-authorization": "technical or super_admin",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "202": {
            "description": "Resync queued"
          }
        }
      }
    },
    "/admin/v1/devices/{deviceId}/disable": {
      "parameters": [
        {
          "$ref": "#/components/parameters/DeviceId"
        }
      ],
      "post": {
        "tags": [
          "Admin / Devices"
        ],
        "summary": "Disable (block opens; keep history)",
        "operationId": "adminDisableDevice",
        "security": [
          {
            "adminBearerAuth": []
          }
        ],
        "x-authorization": "super_admin",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "reason"
                ],
                "properties": {
                  "reason": {
                    "type": "string",
                    "maxLength": 255
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceAdmin"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/devices/{deviceId}/enable": {
      "parameters": [
        {
          "$ref": "#/components/parameters/DeviceId"
        }
      ],
      "post": {
        "tags": [
          "Admin / Devices"
        ],
        "summary": "Re-enable a disabled device",
        "operationId": "adminEnableDevice",
        "security": [
          {
            "adminBearerAuth": []
          }
        ],
        "x-authorization": "super_admin",
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceAdmin"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/devices/{deviceId}/transfer": {
      "parameters": [
        {
          "$ref": "#/components/parameters/DeviceId"
        }
      ],
      "post": {
        "tags": [
          "Admin / Devices"
        ],
        "summary": "Transfer ownership to another user",
        "operationId": "adminTransferDevice",
        "security": [
          {
            "adminBearerAuth": []
          }
        ],
        "x-authorization": "super_admin",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "new_owner_phone",
                  "reason"
                ],
                "properties": {
                  "new_owner_phone": {
                    "type": "string",
                    "pattern": "^\\+994\\d{9}$"
                  },
                  "reason": {
                    "type": "string",
                    "maxLength": 255
                  },
                  "keep_existing_users": {
                    "type": "boolean",
                    "default": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceAdmin"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/devices/{deviceId}/commands": {
      "parameters": [
        {
          "$ref": "#/components/parameters/DeviceId"
        }
      ],
      "get": {
        "tags": [
          "Admin / Devices"
        ],
        "summary": "Open-command history (all users)",
        "operationId": "adminDeviceCommands",
        "security": [
          {
            "adminBearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "in": "query",
            "name": "state",
            "schema": {
              "type": "string",
              "enum": [
                "queued",
                "dispatched",
                "opened",
                "failed",
                "expired"
              ]
            }
          },
          {
            "in": "query",
            "name": "since",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "in": "query",
            "name": "until",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenCommandListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/devices/{deviceId}/diagnostics": {
      "parameters": [
        {
          "$ref": "#/components/parameters/DeviceId"
        }
      ],
      "get": {
        "tags": [
          "Admin / Devices"
        ],
        "summary": "Diagnostics history",
        "operationId": "adminDeviceDiagnostics",
        "security": [
          {
            "adminBearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceDiagnosticListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/admin/v1/devices/{deviceId}/whitelist-queue": {
      "parameters": [
        {
          "$ref": "#/components/parameters/DeviceId"
        }
      ],
      "get": {
        "tags": [
          "Admin / Devices"
        ],
        "summary": "Pending and recent whitelist changes",
        "operationId": "adminWhitelistQueue",
        "security": [
          {
            "adminBearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
[...]
