openapi: 3.1.0
info:
  title: Salam Həyətimiz API
  version: 1.2.0
  summary: REST API for the Salam Həyətimiz remote access-control platform.
  description: |
    # Overview

    This document is the **binding contract** between the Laravel backend and all clients
    (Flutter mobile app, Blade admin panel, and Kapital Bank webhooks). It is the source
    of truth referenced by `TECHNICAL_SPECIFICATION.md` §9 and aligns with `DATABASE_ARCHITECTURE.md` v1.0.

    The API is split into two surfaces:

    | Surface | Prefix | Audience | Auth |
    |---|---|---|---|
    | Mobile / Public | `/v1` | End users, device owners, technical mobile mode | Phone + OTP → JWT (`bearerAuth`) |
    | Admin | `/admin/v1` | Super admin, technical (back-office) | Email + password + TOTP → JWT (`adminBearerAuth`) |
    | Webhooks | `/v1/payments/callback` | Kapital Bank | HMAC signature + IP allowlist |

    All times are **UTC** in **RFC 3339** form. All money is in **minor units** (qəpik;
    1 AZN = 100). Currency is always **AZN**.

    # Authentication

    ## Mobile (`bearerAuth`)
    Phone-based OTP authentication. The flow:

    1. `POST /auth/otp/request` with phone — backend dispatches a 6-digit SMS OTP (TTL 120 s, max 5 attempts).
    2. `POST /auth/otp/verify` with phone + code + device fingerprint — backend issues a JWT access token (15 min) and an opaque refresh token (60 days).
    3. Send `Authorization: Bearer <access_token>` on subsequent calls.
    4. Refresh with `POST /auth/refresh` when the access token nears expiry; refresh tokens **rotate** on every use.

    Tokens are bound to the install (`device_fingerprint`); changing devices requires re-OTP.
    Logout (`POST /auth/logout`) revokes the refresh token server-side.

    ## Admin (`adminBearerAuth`)
    Email + password + mandatory TOTP for super admin. Two-step login:

    1. `POST /admin/v1/auth/login` → short-lived 2FA challenge token.
    2. `POST /admin/v1/auth/2fa/verify` → admin JWT.

    Admin tokens are not interchangeable with mobile tokens — disjoint identity spaces.

    ## Bank callback (`bankCallbackSignature`)
    Signed by Kapital Bank with `X-Kapital-Signature` (HMAC-SHA256 over the canonical body
    using a shared secret). Server **always** double-verifies via `getOrderStatus` before
    mutating state (defence-in-depth).

    # Authorization

    Authorization is enforced server-side on every endpoint. Roles:

    | Role | Identity | Where |
    |---|---|---|
    | `user` | Any authenticated mobile user | Default for mobile endpoints |
    | `owner` | `device_users.role='owner'` for the target device | Roster + invitations |
    | `technical_mobile` | An admin with `role='technical'` operating in mobile | Device provisioning endpoints in mobile mode |
    | `super_admin` | `admin_users.role='super_admin'` | Full admin |
    | `technical` | `admin_users.role='technical'` | Admin: devices module + read-only users |

    Per-endpoint authorization requirements are documented in each operation's
    `x-authorization` field and enforced via Laravel policies.

    # Pagination

    All list endpoints use **opaque cursor pagination** — never offset.

    Request:
    ```
    GET /v1/devices/{id}/commands?limit=50&cursor=eyJpZCI6MTIzNCwidCI6IjIwMjYtMDYtMDhUMDA6MDA6MDBaIn0
    ```

    | Query param | Type | Default | Max | Notes |
    |---|---|---|---|---|
    | `limit` | int | 25 | 100 | Page size |
    | `cursor` | string | — | — | Opaque; from previous response's `page.next_cursor` |
    | `order` | enum | `desc` | — | `asc` or `desc` on default sort key |

    Response envelope:
    ```json
    {
      "data": [...],
      "page": {
        "next_cursor": "eyJ...",
        "has_more": true,
        "limit": 50
      }
    }
    ```

    `next_cursor` is `null` when there are no further pages.

    # Idempotency

    All mutating endpoints accept and recommend the `Idempotency-Key` header.

    - The key MUST be a UUID v4 (or any string ≤ 60 chars).
    - The server stores the canonical response keyed by `(scope, actor, key)` for **24 h** (table: `idempotency_keys`).
    - Replays with the same key return the **same status and body**, without re-executing.
    - Replays with the same key but a different request body return `409 conflict` (`idempotency_mismatch`).

    Endpoints that **require** Idempotency-Key (server rejects on absence):
    - `POST /devices/{id}/open`
    - `POST /orders`
    - `POST /subscriptions/{id}/renew`
    - `POST /admin/v1/orders/{id}/refund`

    All other mutating endpoints **accept but do not require** it.

    # Rate Limits

    Limits are enforced at the API gateway. Every response includes:

    ```
    X-RateLimit-Limit: 120
    X-RateLimit-Remaining: 117
    X-RateLimit-Reset: 1717945200
    ```

    | Bucket | Limit |
    |---|---|
    | `/auth/otp/request` | 3 / phone / 10 min, 30 / IP / hour |
    | `/auth/otp/verify` | 10 / phone / 10 min |
    | `/devices/*/open` | 12 / user / min, 4 / device / min |
    | Authenticated mobile generic | 120 req / min / user |
    | Admin generic | 600 req / min / admin |
    | `/payments/callback` | 600 req / min / source-IP (allowlisted) |
    | Unauthenticated generic | 30 req / min / IP |

    Exceeding any bucket returns **`429 rate_limited`** with `Retry-After` (seconds).

    # Errors

    Uniform error envelope across all endpoints:

    ```json
    {
      "error": {
        "code": "subscription_required",
        "message_key": "errors.subscription_required",
        "message": "Aboneliyiniz başa çatıb.",
        "details": { "device_id": 42 },
        "request_id": "01JCGZ9F9XZ7P0X5MFK7Z7VYNZ"
      }
    }
    ```

    `message` is localized per `Accept-Language` (az/ru/en). `message_key` is locale-independent
    and stable for client logic. `request_id` is the correlation ID also written to the audit log.

    Standard codes:

    | HTTP | `code` | When |
    |---|---|---|
    | 400 | `bad_request` | Malformed request beyond field validation |
    | 401 | `unauthenticated` | Missing / invalid / expired token |
    | 403 | `forbidden` | Authenticated but disallowed |
    | 403 | `subscription_required` | Sub is not `active` for the device/user |
    | 403 | `device_disabled` | Device disabled by admin |
    | 404 | `not_found` | |
    | 409 | `conflict` | Resource state precludes operation |
    | 409 | `idempotency_mismatch` | Same key, different body |
    | 422 | `validation_failed` | Field-level errors (see `ValidationError`) |
    | 429 | `rate_limited` | Bucket exhausted |
    | 429 | `cooldown` | Open-command cooldown active |
    | 502 | `device_offline` | Driver could not reach device |
    | 503 | `payment_provider_unavailable` | Kapital Bank unreachable / degraded |
    | 500 | `internal_error` | Unexpected; check `request_id` |

    # Versioning

    Path-versioned (`/v1/`). Breaking changes ship under `/v2/`. Within a major version we add
    new fields / endpoints additively. Deprecation announced via `Sunset` header at least 90 days
    before removal.

    # Conventions

    - `Content-Type: application/json; charset=utf-8` on all bodies.
    - `Accept-Language: az | ru | en` — defaults to `az`.
    - All IDs are unsigned 64-bit integers serialized as JSON numbers (always < `Number.MAX_SAFE_INTEGER` for the foreseeable future; client libraries should still treat as 64-bit).
    - `null` is used for absence; never empty-string sentinels.
    - Booleans are `true`/`false`, never `0`/`1`.

  contact:
    name: Salam Həyətimiz Engineering
    email: engineering@salamhayetimiz.az
  license:
    name: Proprietary
    identifier: LicenseRef-Proprietary

servers:
  - url: https://api.salamhayetimiz.az/v1
    description: Production (mobile)
  - url: https://api.salamhayetimiz.az/admin/v1
    description: Production (admin)
  - url: https://staging.salamhayetimiz.az/v1
    description: Staging (mobile)
  - url: https://staging.salamhayetimiz.az/admin/v1
    description: Staging (admin)

# -----------------------------------------------------------------------------
# Tags (controls grouping in Swagger UI / Redoc)
# -----------------------------------------------------------------------------
tags:
  - name: Auth
    description: Phone-OTP authentication (mobile)
  - name: Profile
    description: Current-user profile, consents, biometrics
  - name: Devices
    description: User-facing device list and detail
  - name: Roster
    description: Owner-side roster management
  - name: Invitations
    description: Sending / accepting invitations
  - name: Commands
    description: Open commands and history
  - name: Subscriptions
    description: User-visible subscription state
  - name: Orders & Payments
    description: Checkout, payment status, receipts
  - name: Notifications
    description: Inbox + preferences
  - name: Privacy
    description: Consent + data-subject requests
  - name: Health
    description: Liveness / readiness
  - name: Webhooks
    description: Inbound callbacks (Kapital Bank, SMS provider)
  - name: Admin / Auth
  - name: Admin / Dashboard
  - name: Admin / Users
  - name: Admin / Admins
  - name: Admin / Devices
  - name: Admin / Lookups
  - name: Admin / Orders
  - name: Admin / Refunds
  - name: Admin / Subscriptions
  - name: Admin / Reports
  - name: Admin / Audit
  - name: Admin / Settings
  - name: Admin / Feature Flags
  - name: Admin / Notification Templates

# Default — every operation requires bearerAuth unless overridden
security:
  - bearerAuth: []

# =============================================================================
# PATHS
# =============================================================================
paths:

  # ---------------------------------------------------------------------------
  # Health
  # ---------------------------------------------------------------------------
  /health/live:
    get:
      tags: [Health]
      summary: Liveness probe
      operationId: getHealthLive
      security: []
      responses:
        '200':
          description: Process up
          content:
            application/json:
              schema: { $ref: '#/components/schemas/HealthStatus' }

  /health/ready:
    get:
      tags: [Health]
      summary: Readiness probe (DB + Redis + queue)
      operationId: getHealthReady
      security: []
      responses:
        '200':
          description: Ready
          content:
            application/json:
              schema: { $ref: '#/components/schemas/HealthStatus' }
        '503':
          description: One or more dependencies unhealthy
          content:
            application/json:
              schema: { $ref: '#/components/schemas/HealthStatus' }

  # ---------------------------------------------------------------------------
  # JWKS (admin host only — v1.1, CRIT-04)
  # ---------------------------------------------------------------------------
  /.well-known/jwks.json:
    get:
      tags: [Admin / Auth]
      summary: JSON Web Key Set for admin JWT verification
      operationId: getJwks
      security: []
      description: |
        Public verification keys for admin-issued JWTs, keyed by `kid`. Two `kid`s
        may be valid simultaneously during a rotation. Mobile clients pin and do
        not consume JWKS; this endpoint is on the admin host only.
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Jwks' }

  # ---------------------------------------------------------------------------
  # Mobile Auth
  # ---------------------------------------------------------------------------
  /auth/otp/request:
    post:
      tags: [Auth]
      summary: Request an OTP for the given phone number
      operationId: requestOtp
      security: []
      x-rate-limit: 3/phone/10min, 30/IP/hour
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [phone]
              properties:
                phone:
                  type: string
                  pattern: '^\+994\d{9}$'
                  example: '+994501234567'
                purpose:
                  type: string
                  enum: [login, recover]
                  default: login
      responses:
        '202':
          description: OTP dispatched (response identical regardless of phone existence — prevents enumeration)
          content:
            application/json:
              schema:
                type: object
                properties:
                  expires_in_seconds:
                    type: integer
                    example: 120
                  resend_available_in_seconds:
                    type: integer
                    example: 30
        '422': { $ref: '#/components/responses/ValidationError' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /auth/otp/verify:
    post:
      tags: [Auth]
      summary: Verify an OTP and exchange for tokens
      operationId: verifyOtp
      security: []
      x-rate-limit: 10/phone/10min
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [phone, code, device]
              properties:
                phone:
                  type: string
                  pattern: '^\+994\d{9}$'
                code:
                  type: string
                  pattern: '^\d{6}$'
                device:
                  $ref: '#/components/schemas/DeviceFingerprintInput'
      responses:
        '200':
          description: Auth success
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AuthSuccess' }
        '401':
          description: Wrong code / expired / max attempts
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
              examples:
                wrong_code: { value: { error: { code: 'wrong_code', message: 'Kod yanlışdır.' } } }
                expired: { value: { error: { code: 'otp_expired', message: 'Kodun vaxtı bitib.' } } }
                max_attempts: { value: { error: { code: 'otp_max_attempts', message: 'Çox cəhd oldu.' } } }
        '422': { $ref: '#/components/responses/ValidationError' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /auth/refresh:
    post:
      tags: [Auth]
      summary: Exchange refresh token for a fresh access+refresh pair
      operationId: refreshToken
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [refresh_token]
              properties:
                refresh_token: { type: string, minLength: 30, maxLength: 200 }
      responses:
        '200':
          description: Tokens rotated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AuthSuccess' }
        '401':
          description: Refresh token invalid, revoked, or replayed
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /auth/logout:
    post:
      tags: [Auth]
      summary: Revoke the current refresh token
      operationId: logout
      responses:
        '204': { description: Revoked }
        '401': { $ref: '#/components/responses/Unauthenticated' }

  # ---------------------------------------------------------------------------
  # Profile / Me
  # ---------------------------------------------------------------------------
  /me:
    get:
      tags: [Profile]
      summary: Current user profile
      operationId: getMe
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UserSelf' }
        '401': { $ref: '#/components/responses/Unauthenticated' }
    patch:
      tags: [Profile]
      summary: Update profile
      operationId: updateMe
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UserSelfUpdate' }
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UserSelf' }
        '422': { $ref: '#/components/responses/ValidationError' }
    delete:
      tags: [Profile]
      summary: Initiate account self-deletion (soft delete; anonymisation in 30 days)
      operationId: deleteMe
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [confirm_phone]
              properties:
                confirm_phone:
                  type: string
                  description: Must match the user's phone exactly. Anti-misclick.
      responses:
        '202': { description: Scheduled for anonymisation }
        '409':
          description: Cannot delete while devices owned have any active sub by owner or invitee (v1.1, HIGH-10)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
              examples:
                successor_required:
                  value:
                    error:
                      code: successor_required
                      message_key: errors.successor_required
                      message: 'Cihazlarınızın yeni sahibi təyin edilməlidir.'
                      details:
                        devices:
                          - { id: 42, label: 'Yard gate' }
                          - { id: 57, label: 'Garage' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /me/biometrics/enroll:
    post:
      tags: [Profile]
      summary: Mark biometric unlock as enrolled for this install
      operationId: enrollBiometrics
      responses:
        '204': { description: ok }

  /me/biometrics:
    delete:
      tags: [Profile]
      summary: Disable biometric unlock for this install
      operationId: disableBiometrics
      responses:
        '204': { description: ok }

  # ---------------------------------------------------------------------------
  # User-facing Devices
  # ---------------------------------------------------------------------------
  /devices:
    get:
      tags: [Devices]
      summary: List the current user's devices (owned + member)
      operationId: listMyDevices
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - in: query
          name: filter
          schema:
            type: string
            enum: [all, owned, member, suspended]
            default: all
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DeviceListResponse' }

  /devices/{deviceId}:
    parameters: [{ $ref: '#/components/parameters/DeviceId' }]
    get:
      tags: [Devices]
      summary: Device detail
      operationId: getDevice
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DeviceDetail' }
        '404': { $ref: '#/components/responses/NotFound' }

  /devices/{deviceId}/geofence:
    parameters: [{ $ref: '#/components/parameters/DeviceId' }]
    patch:
      tags: [Devices]
      summary: Configure the distance restriction (device owner)
      operationId: updateDeviceGeofence
      description: |
        The device OWNER turns the distance restriction (geofence) on/off and sets its radius.
        Enabling requires a positive `geofence_radius_m` AND the device to already have coordinates
        (coordinates are admin-set — owners cannot change them, nor ownership). A roster member who
        is not the owner gets 403; a non-member gets 404. GEOFENCE-1.
      x-authorization: user; device owner only
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/DeviceGeofenceUpdate' }
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DeviceDetail' }
        '403':
          description: Caller is on the roster but is not the device owner
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422':
          description: geofence_radius_required / geofence_device_location_missing
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /devices/{deviceId}/stats:
    parameters: [{ $ref: '#/components/parameters/DeviceId' }]
    get:
      tags: [Devices]
      summary: Aggregated stats for the device (owner sees more granular numbers)
      operationId: getDeviceStats
      parameters:
        - in: query
          name: period
          schema: { type: string, enum: [7d, 30d, 90d], default: 30d }
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DeviceStats' }
        '404': { $ref: '#/components/responses/NotFound' }

  /devices/{deviceId}/open:
    parameters: [{ $ref: '#/components/parameters/DeviceId' }]
    post:
      tags: [Commands]
      summary: Issue an open command
      operationId: openDevice
      description: |
        Idempotent. The `Idempotency-Key` is also persisted as `open_commands.idempotency_key`
        — replays return the cached command without dispatching again.

        Authorization: user must be on the device roster, subscription must be `active`,
        device must not be `disabled`.

      x-authorization: user; must be on roster with active subscription
      x-rate-limit: 12/user/min, 4/device/min
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyRequired'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                client_app_version: { type: string, maxLength: 20 }
                latitude:
                  type: number
                  format: double
                  minimum: -90
                  maximum: 90
                  description: |
                    *(GEOFENCE-1)* Caller's current latitude. Required only when the device's
                    `geofence_enabled` is true (else the server rejects with `location_required`).
                longitude:
                  type: number
                  format: double
                  minimum: -180
                  maximum: 180
                  description: Caller's current longitude (see `latitude`).
                accuracy:
                  type: number
                  format: double
                  minimum: 0
                  description: |
                    Horizontal accuracy of the fix in metres. Applied as a tolerance margin; a fix
                    whose accuracy exceeds the device radius is rejected as `location_imprecise`.
      responses:
        '202':
          description: Command queued; poll `/commands/{id}` or subscribe via WebSocket
          content:
            application/json:
              schema: { $ref: '#/components/schemas/OpenCommandAccepted' }
        '403':
          description: |
            subscription_required / device_disabled / forbidden /
            location_required / outside_geofence / location_imprecise (GEOFENCE-1)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/IdempotencyConflict' }
        '429':
          description: Cooldown or global rate limit
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
          headers:
            Retry-After:
              schema: { type: integer }
              description: Seconds until next allowed attempt
        '502':
          description: Device unreachable
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /devices/{deviceId}/commands:
    parameters: [{ $ref: '#/components/parameters/DeviceId' }]
    get:
      tags: [Commands]
      summary: Open-command history for the device (current user)
      operationId: listDeviceCommands
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - in: query
          name: since
          schema: { type: string, format: date-time }
        - in: query
          name: until
          schema: { type: string, format: date-time }
        - in: query
          name: state
          schema: { type: string, enum: [queued, dispatched, opened, failed, expired] }
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema: { $ref: '#/components/schemas/OpenCommandListResponse' }

  /commands/{commandId}:
    parameters:
      - in: path
        name: commandId
        required: true
        schema: { type: integer, format: int64, minimum: 1 }
    get:
      tags: [Commands]
      summary: Get a single open command (terminal state polling)
      operationId: getCommand
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema: { $ref: '#/components/schemas/OpenCommand' }
        '404': { $ref: '#/components/responses/NotFound' }

  /commands/{commandId}/feedback:
    parameters:
      - in: path
        name: commandId
        required: true
        schema: { type: integer, format: int64, minimum: 1 }
    post:
      tags: [Commands]
      summary: User-reported actuation confirmation (v1.1, CRIT-06)
      operationId: submitOpenFeedback
      description: |
        Used after opens where `driver_confirms_actuation = false` to capture whether the
        gate actually moved. One feedback per (command, user); replays return the previous value.
      parameters: [{ $ref: '#/components/parameters/IdempotencyKey' }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [gate_moved]
              properties:
                gate_moved: { type: boolean }
                comment: { type: string, maxLength: 255, nullable: true }
      responses:
        '201': { description: Feedback recorded }
        '200': { description: Replay; feedback already on record }
        '404': { $ref: '#/components/responses/NotFound' }

  # ---------------------------------------------------------------------------
  # Roster (owner only)
  # ---------------------------------------------------------------------------
  /devices/{deviceId}/users:
    parameters: [{ $ref: '#/components/parameters/DeviceId' }]
    get:
      tags: [Roster]
      summary: Roster of users for this device
      operationId: listDeviceRoster
      x-authorization: owner of deviceId
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DeviceRosterListResponse' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /devices/{deviceId}/users/{userId}:
    parameters:
      - $ref: '#/components/parameters/DeviceId'
      - in: path
        name: userId
        required: true
        schema: { type: integer, format: int64 }
    delete:
      tags: [Roster]
      summary: Revoke a user from this device (owner only)
      operationId: revokeRosterUser
      x-authorization: owner of deviceId; cannot self-revoke the only owner
      parameters: [{ $ref: '#/components/parameters/IdempotencyKey' }]
      responses:
        '204': { description: Revoked; whitelist sync enqueued }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409':
          description: Cannot revoke last owner
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  # ---------------------------------------------------------------------------
  # Invitations
  # ---------------------------------------------------------------------------
  /devices/{deviceId}/invitations:
    parameters: [{ $ref: '#/components/parameters/DeviceId' }]
    post:
      tags: [Invitations]
      summary: Invite a new user to the device
      operationId: createInvitation
      x-authorization: owner of deviceId
      parameters: [{ $ref: '#/components/parameters/IdempotencyKey' }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/InvitationCreate' }
      responses:
        '201':
          description: Created; SMS dispatched to invitee
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Invitation' }
        '402':
          description: Payment required (when payer=owner and no order yet); body contains an order to settle
          content:
            application/json:
              schema:
                type: object
                properties:
                  invitation: { $ref: '#/components/schemas/Invitation' }
                  order: { $ref: '#/components/schemas/Order' }
        '409':
          description: |
            Capacity / burst conflict (v1.1, HIGH-01 / HIGH-05).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
              examples:
                roster_capacity_exceeded:
                  value:
                    error:
                      code: roster_capacity_exceeded
                      message_key: errors.roster_capacity_exceeded
                      message: 'Bu cihazın istifadəçi limiti tamamlanıb.'
                      details: { capacity: 10, current: 10 }
                too_many_pending_changes:
                  value:
                    error:
                      code: too_many_pending_changes
                      message_key: errors.too_many_pending_changes
                      message: 'Cihaza yazılmalı dəyişikliklər gözləyir.'
                      details: { pending: 5, max: 5 }
        '422': { $ref: '#/components/responses/ValidationError' }

    get:
      tags: [Invitations]
      summary: List pending invitations on the device
      operationId: listDeviceInvitations
      x-authorization: owner of deviceId
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - in: query
          name: status
          schema: { type: string, enum: [pending, accepted, declined, expired, cancelled] }
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema: { $ref: '#/components/schemas/InvitationListResponse' }

  /invitations/{token}:
    parameters:
      - in: path
        name: token
        required: true
        schema: { type: string, minLength: 10, maxLength: 60 }
    get:
      tags: [Invitations]
      summary: Inspect an invitation by token (used by invitee after registration)
      operationId: getInvitationByToken
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Invitation' }
        '404': { $ref: '#/components/responses/NotFound' }
        '410':
          description: Invitation expired or already terminal
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /invitations/{token}/accept:
    parameters:
      - in: path
        name: token
        required: true
        schema: { type: string }
    post:
      tags: [Invitations]
      summary: Accept an invitation
      operationId: acceptInvitation
      parameters: [{ $ref: '#/components/parameters/IdempotencyKey' }]
      responses:
        '200':
          description: Accepted; if payer=invitee, body contains an order to settle
          content:
            application/json:
              schema:
                type: object
                properties:
                  device_user: { $ref: '#/components/schemas/DeviceUser' }
                  order:
                    oneOf:
                      - { $ref: '#/components/schemas/Order' }
                      - { type: 'null' }
        '410':
          description: Expired
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /invitations/{token}/decline:
    parameters:
      - in: path
        name: token
        required: true
        schema: { type: string }
    post:
      tags: [Invitations]
      summary: Decline an invitation
      operationId: declineInvitation
      parameters: [{ $ref: '#/components/parameters/IdempotencyKey' }]
      responses:
        '204': { description: Declined }
        '410':
          description: Expired
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  # ---------------------------------------------------------------------------
  # Subscriptions
  # ---------------------------------------------------------------------------
  /subscriptions:
    get:
      tags: [Subscriptions]
      summary: List the current user's subscriptions
      operationId: listMySubscriptions
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - in: query
          name: status
          schema: { type: string, enum: [pending_payment, active, expired, cancelled, refunded] }
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SubscriptionListResponse' }

  /subscriptions/{subscriptionId}:
    parameters: [{ $ref: '#/components/parameters/SubscriptionId' }]
    get:
      tags: [Subscriptions]
      summary: Subscription detail (with period history)
      operationId: getSubscription
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SubscriptionDetail' }
        '404': { $ref: '#/components/responses/NotFound' }

  /subscriptions/{subscriptionId}/renew:
    parameters: [{ $ref: '#/components/parameters/SubscriptionId' }]
    post:
      tags: [Subscriptions]
      summary: Initiate a manual renewal — creates an order and returns the bank redirect
      operationId: renewSubscription
      x-authorization: must be the payer (owner for main, owner or sub-user for additional)
      parameters: [{ $ref: '#/components/parameters/IdempotencyKeyRequired' }]
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                return_url:
                  type: string
                  format: uri
                  example: 'salam://payment/return'
      responses:
        '200':
          description: Order created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Order' }
        '409':
          description: Subscription not eligible for renewal in current state
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /subscriptions/{subscriptionId}/auto-renew:
    parameters: [{ $ref: '#/components/parameters/SubscriptionId' }]
    patch:
      tags: [Subscriptions]
      summary: Toggle auto-renew on/off (requires saved card token)
      operationId: toggleAutoRenew
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [auto_renew]
              properties:
                auto_renew: { type: boolean }
                card_token_id:
                  type: integer
                  format: int64
                  nullable: true
                  description: Required when enabling. Token must belong to caller.
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Subscription' }
        '409':
          description: Auto-renew not available yet (no Kapital tokenization)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  # ---------------------------------------------------------------------------
  # Orders & Payments
  # ---------------------------------------------------------------------------
  /orders:
    get:
      tags: [Orders & Payments]
      summary: List the current user's orders
      operationId: listMyOrders
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - in: query
          name: status
          schema:
            type: string
            enum: [pending, authorising, paid, failed, cancelled, refunded, partially_refunded, expired]
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema: { $ref: '#/components/schemas/OrderListResponse' }
    post:
      tags: [Orders & Payments]
      summary: Create a payment order
      operationId: createOrder
      parameters: [{ $ref: '#/components/parameters/IdempotencyKeyRequired' }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/OrderCreate' }
      responses:
        '201':
          description: Created; bank redirect ready
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Order' }
        '402':
          description: Order created in `pending`; client should redirect to `bank_redirect_url`
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Order' }
        '422': { $ref: '#/components/responses/ValidationError' }
        '503': { $ref: '#/components/responses/PaymentProviderUnavailable' }

  /orders/{orderId}:
    parameters: [{ $ref: '#/components/parameters/OrderId' }]
    get:
      tags: [Orders & Payments]
      summary: Get order detail (with payments timeline)
      operationId: getOrder
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema: { $ref: '#/components/schemas/OrderDetail' }
        '404': { $ref: '#/components/responses/NotFound' }

  /orders/{orderId}/recheck:
    parameters: [{ $ref: '#/components/parameters/OrderId' }]
    post:
      tags: [Orders & Payments]
      summary: Force a status recheck against the bank (rare; auto-reconciler does this hourly)
      operationId: recheckOrder
      parameters: [{ $ref: '#/components/parameters/IdempotencyKey' }]
      responses:
        '200':
          description: Latest known state after recheck
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Order' }
        '503': { $ref: '#/components/responses/PaymentProviderUnavailable' }

  # ---------------------------------------------------------------------------
  # Notifications
  # ---------------------------------------------------------------------------
  /notifications:
    get:
      tags: [Notifications]
      summary: In-app notification inbox
      operationId: listNotifications
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - in: query
          name: status
          schema: { type: string, enum: [sent, read] }
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema: { $ref: '#/components/schemas/NotificationListResponse' }

  /notifications/{notificationId}/read:
    parameters:
      - in: path
        name: notificationId
        required: true
        schema: { type: integer, format: int64 }
    post:
      tags: [Notifications]
      summary: Mark a notification as read
      operationId: markNotificationRead
      responses:
        '204': { description: ok }
        '404': { $ref: '#/components/responses/NotFound' }

  /notifications/read-all:
    post:
      tags: [Notifications]
      summary: Mark all unread notifications as read
      operationId: markAllNotificationsRead
      parameters: [{ $ref: '#/components/parameters/IdempotencyKey' }]
      responses:
        '204': { description: ok }

  /notifications/settings:
    get:
      tags: [Notifications]
      summary: Per-template / per-channel preferences
      operationId: getNotificationSettings
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema: { $ref: '#/components/schemas/NotificationSettingsListResponse' }
    patch:
      tags: [Notifications]
      summary: Bulk update preferences
      operationId: updateNotificationSettings
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [settings]
              properties:
                settings:
                  type: array
                  maxItems: 200
                  items: { $ref: '#/components/schemas/NotificationSettingUpdate' }
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema: { $ref: '#/components/schemas/NotificationSettingsListResponse' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /notifications/push-token:
    put:
      tags: [Notifications]
      summary: Register / refresh the FCM push token for the current install
      operationId: upsertPushToken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [push_token]
              properties:
                push_token: { type: string, minLength: 10, maxLength: 255 }
      responses:
        '204': { description: ok }
    delete:
      tags: [Notifications]
      summary: De-register the current install's push token (used on logout)
      description: >-
        Clears the push token for the caller's current install only — the install is resolved
        from the JWT `fp` claim (= install_uuid). Other devices' tokens are untouched
        (multi-device preserved). No request body.
      operationId: deletePushToken
      responses:
        '204': { description: ok }

  # ---------------------------------------------------------------------------
  # Privacy
  # ---------------------------------------------------------------------------
  /consents:
    post:
      tags: [Privacy]
      summary: Record a consent grant or revocation
      operationId: recordConsent
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ConsentCreate' }
      responses:
        '201':
          description: Stored
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Consent' }
        '422': { $ref: '#/components/responses/ValidationError' }

    get:
      tags: [Privacy]
      summary: Latest consent state per kind for the current user
      operationId: listMyConsents
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Consent' }

  /privacy/export:
    post:
      tags: [Privacy]
      summary: Request a personal-data export
      operationId: requestDataExport
      parameters: [{ $ref: '#/components/parameters/IdempotencyKey' }]
      responses:
        '202':
          description: Queued; result delivered via notification
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DataSubjectRequest' }

  /privacy/deletion:
    post:
      tags: [Privacy]
      summary: Request account deletion (alternative to DELETE /me)
      operationId: requestDataDeletion
      parameters: [{ $ref: '#/components/parameters/IdempotencyKey' }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [confirm_phone]
              properties:
                confirm_phone: { type: string }
      responses:
        '202':
          description: Queued
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DataSubjectRequest' }

  # ---------------------------------------------------------------------------
  # Technical Mobile mode (admin-role users authenticated in mobile)
  # ---------------------------------------------------------------------------
  /technical/devices:
    post:
      tags: [Devices]
      summary: Register a new physical device (technical mobile mode)
      operationId: techRegisterDevice
      x-authorization: admin role=technical (mobile mode via admin JWT)
      security:
        - adminBearerAuth: []
      parameters: [{ $ref: '#/components/parameters/IdempotencyKey' }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/DeviceTechRegister' }
      responses:
        '201':
          description: Created in `unassigned`
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DeviceAdmin' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /technical/devices/{deviceId}/assign:
    parameters: [{ $ref: '#/components/parameters/DeviceId' }]
    post:
      tags: [Devices]
      summary: Assign an owner to a device (technical mobile mode)
      operationId: techAssignDevice
      x-authorization: admin role=technical or super_admin
      security:
        - adminBearerAuth: []
      parameters: [{ $ref: '#/components/parameters/IdempotencyKey' }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [owner_phone]
              properties:
                owner_phone: { type: string, pattern: '^\+994\d{9}$' }
                region_id: { type: integer, format: int64, nullable: true }
                location_label: { type: string, maxLength: 160, nullable: true }
                latitude: { type: number, nullable: true }
                longitude: { type: number, nullable: true }
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DeviceAdmin' }
        '409':
          description: Device already assigned
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /technical/devices/{deviceId}/diagnostics/ping:
    parameters: [{ $ref: '#/components/parameters/DeviceId' }]
    post:
      tags: [Devices]
      summary: Synchronous diagnostics ping
      operationId: techDiagnosticsPing
      x-authorization: admin
      security:
        - adminBearerAuth: []
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DeviceDiagnostic' }
        '502': { description: Device unreachable }

  # ===========================================================================
  # WEBHOOKS — Inbound from Kapital Bank and SMS provider
  # ===========================================================================
  /payments/callback:
    post:
      tags: [Webhooks]
      summary: Kapital Bank payment callback
      operationId: paymentCallback
      description: |
        Verified by HMAC signature in `X-Kapital-Signature`, then by `getOrderStatus` against
        the bank. Idempotent against re-delivery: identical payload hashes are deduplicated
        via `payment_callbacks.payload_hash`.

        IP allowlist enforced at the edge — requests outside the list are dropped before this
        handler is invoked.
      security:
        - bankCallbackSignature: []
      parameters:
        - in: header
          name: X-Kapital-Signature
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/KapitalCallback' }
      responses:
        '200': { description: Accepted (also returned on duplicate replay) }
        '400':
          description: Body unparseable
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '401':
          description: Signature missing or invalid
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /sms/inbound:
    post:
      tags: [Webhooks]
      summary: Inbound SMS replies from device or user
      operationId: smsInbound
      security:
        - smsProviderSignature: []
      parameters:
        - in: header
          name: X-Sms-Signature
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [from, to, body, received_at]
              properties:
                from: { type: string, pattern: '^\+\d{6,15}$' }
                to: { type: string, pattern: '^\+\d{6,15}$' }
                body: { type: string, maxLength: 1600 }
                received_at: { type: string, format: date-time }
                provider_message_id: { type: string }
      responses:
        '200': { description: Accepted }
        '401':
          description: Bad signature
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  # ===========================================================================
  # ADMIN /admin/v1/*
  # ===========================================================================

  # ----- Admin Auth ---------------------------------------------------------
  /admin/auth/login:
    post:
      tags: [Admin / Auth]
      summary: Step 1 — email + password, returns 2FA challenge
      operationId: adminLogin
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: { type: string, format: email }
                password: { type: string, minLength: 8, maxLength: 128 }
      responses:
        '200':
          description: 2FA challenge issued
          content:
            application/json:
              schema:
                type: object
                properties:
                  challenge_token: { type: string }
                  expires_in_seconds: { type: integer, example: 300 }
                  requires_totp: { type: boolean }
        '401':
          description: Bad credentials / account locked
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /admin/auth/2fa/verify:
    post:
      tags: [Admin / Auth]
      summary: Step 2 — submit TOTP or recovery code, receive admin JWT
      operationId: adminVerify2fa
      description: |
        *(v1.1, CRIT-09)* Accepts EITHER a 6-digit TOTP code OR a 10-hex-character
        single-use recovery code. Exactly one of `totp` / `recovery_code` MUST be
        present. Successful recovery-code use consumes that code.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [challenge_token]
              oneOf:
                - required: [totp]
                - required: [recovery_code]
              properties:
                challenge_token: { type: string }
                totp: { type: string, pattern: '^\d{6}$' }
                recovery_code:
                  type: string
                  pattern: '^[0-9a-fA-F]{10}$'
                  description: 10 hex chars, case-insensitive; single-use.
      responses:
        '200':
          description: Authenticated
          content:
            application/json:
              schema:
                allOf:
                  - { $ref: '#/components/schemas/AdminAuthSuccess' }
                  - type: object
                    properties:
                      used_recovery_code:
                        type: boolean
                        description: True if a recovery code was used (UI shows regenerate-codes banner).
                      recovery_codes_remaining:
                        type: integer
                        description: Non-null entries left in the recovery set (0–8).
        '401':
          description: Wrong TOTP / wrong recovery code / consumed recovery code / expired challenge
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
              examples:
                wrong_totp: { value: { error: { code: 'wrong_totp', message: 'Yanlış kod.' } } }
                consumed: { value: { error: { code: 'recovery_code_already_used', message: 'Bu kod artıq istifadə olunub.' } } }

  /admin/auth/logout:
    post:
      tags: [Admin / Auth]
      summary: Revoke current admin session
      operationId: adminLogout
      security:
        - adminBearerAuth: []
      responses:
        '204': { description: ok }

  /admin/auth/me:
    get:
      tags: [Admin / Auth]
      summary: Current admin profile
      operationId: adminMe
      security:
        - adminBearerAuth: []
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminUser' }

  /admin/auth/recovery-codes:
    post:
      tags: [Admin / Auth]
      summary: Generate a fresh set of 8 single-use recovery codes (v1.1, CRIT-09)
      operationId: regenerateRecoveryCodes
      security:
        - adminBearerAuth: []
      description: |
        Invalidates the previous set atomically and returns a new set of 8 codes ONCE.
        Requires a fresh TOTP confirmation in the body (re-auth pattern). The plaintext
        codes never leave this response.
      parameters: [{ $ref: '#/components/parameters/IdempotencyKey' }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [totp]
              properties:
                totp: { type: string, pattern: '^\d{6}$' }
      responses:
        '200':
          description: New set generated; previous set invalidated
          content:
            application/json:
              schema:
                type: object
                required: [codes, generated_at]
                properties:
                  codes:
                    type: array
                    minItems: 8
                    maxItems: 8
                    items: { type: string, pattern: '^[0-9a-f]{10}$' }
                  generated_at: { type: string, format: date-time }
        '401':
          description: Wrong fresh TOTP
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  # ----- Admin Dashboard ----------------------------------------------------
  /admin/metrics/overview:
    get:
      tags: [Admin / Dashboard]
      summary: Dashboard KPI overview
      operationId: adminMetricsOverview
      security:
        - adminBearerAuth: []
      parameters:
        - in: query
          name: period
          schema: { type: string, enum: [today, 7d, 30d], default: today }
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminMetricsOverview' }

  # ----- Admin Users --------------------------------------------------------
  /admin/users:
    get:
      tags: [Admin / Users]
      summary: List end users
      operationId: adminListUsers
      security:
        - adminBearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - in: query
          name: q
          schema: { type: string, maxLength: 80 }
          description: Free-text search on phone (E.164) or name or email
        - in: query
          name: status
          schema: { type: string, enum: [active, blocked, self_deleted] }
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminUserListResponse' }

  /admin/users/{userId}:
    parameters:
      - in: path
        name: userId
        required: true
        schema: { type: integer, format: int64 }
    get:
      tags: [Admin / Users]
      summary: User detail
      operationId: adminGetUser
      security:
        - adminBearerAuth: []
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminUserDetail' }
        '404': { $ref: '#/components/responses/NotFound' }

  /admin/users/{userId}/block:
    parameters:
      - in: path
        name: userId
        required: true
        schema: { type: integer, format: int64 }
    post:
      tags: [Admin / Users]
      summary: Block a user
      operationId: adminBlockUser
      security:
        - adminBearerAuth: []
      x-authorization: super_admin
      parameters: [{ $ref: '#/components/parameters/IdempotencyKey' }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason: { type: string, minLength: 3, maxLength: 255 }
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminUserDetail' }

  /admin/users/{userId}/unblock:
    parameters:
      - in: path
        name: userId
        required: true
        schema: { type: integer, format: int64 }
    post:
      tags: [Admin / Users]
      summary: Unblock a user
      operationId: adminUnblockUser
      security:
        - adminBearerAuth: []
      x-authorization: super_admin
      parameters: [{ $ref: '#/components/parameters/IdempotencyKey' }]
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminUserDetail' }

  # ----- Admin Admins -------------------------------------------------------
  /admin/admins:
    get:
      tags: [Admin / Admins]
      summary: List admin accounts
      operationId: adminListAdmins
      security:
        - adminBearerAuth: []
      x-authorization: super_admin
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminUserListAdminsResponse' }
    post:
      tags: [Admin / Admins]
      summary: Create an admin
      operationId: adminCreateAdmin
      security:
        - adminBearerAuth: []
      x-authorization: super_admin
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AdminUserCreate' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminUser' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /admin/admins/{adminId}:
    parameters:
      - in: path
        name: adminId
        required: true
        schema: { type: integer, format: int64 }
    patch:
      tags: [Admin / Admins]
      summary: Update an admin
      operationId: adminUpdateAdmin
      security:
        - adminBearerAuth: []
      x-authorization: super_admin
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AdminUserUpdate' }
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminUser' }
    delete:
      tags: [Admin / Admins]
      summary: Offboard an admin (sets status; not a hard delete)
      operationId: adminOffboardAdmin
      security:
        - adminBearerAuth: []
      x-authorization: super_admin
      responses:
        '204': { description: ok }

  # ----- Admin Devices ------------------------------------------------------
  /admin/devices:
    get:
      tags: [Admin / Devices]
      summary: List devices
      operationId: adminListDevices
      security:
        - adminBearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - in: query
          name: status
          schema: { type: string, enum: [unassigned, active, suspended, disabled, decommissioned] }
        - in: query
          name: owner_user_id
          schema: { type: integer, format: int64 }
        - in: query
          name: region_id
          schema: { type: integer }
        - in: query
          name: q
          schema: { type: string, maxLength: 80 }
          description: Search by serial or sim_phone
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminDeviceListResponse' }
    post:
      tags: [Admin / Devices]
      summary: Register a device (alternative to mobile technical mode)
      operationId: adminCreateDevice
      security:
        - adminBearerAuth: []
      x-authorization: technical or super_admin
      parameters: [{ $ref: '#/components/parameters/IdempotencyKey' }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/DeviceTechRegister' }
      responses:
        '201':
          description: ok
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DeviceAdmin' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /admin/devices/{deviceId}:
    parameters: [{ $ref: '#/components/parameters/DeviceId' }]
    get:
      tags: [Admin / Devices]
      summary: Device detail (admin)
      operationId: adminGetDevice
      security:
        - adminBearerAuth: []
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DeviceAdminDetail' }
        '404': { $ref: '#/components/responses/NotFound' }
    patch:
      tags: [Admin / Devices]
      summary: Update device
      operationId: adminUpdateDevice
      security:
        - adminBearerAuth: []
      x-authorization: technical or super_admin
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/DeviceAdminUpdate' }
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DeviceAdmin' }
        '422': { $ref: '#/components/responses/ValidationError' }
    delete:
      tags: [Admin / Devices]
      summary: Decommission (soft delete)
      operationId: adminDecommissionDevice
      security:
        - adminBearerAuth: []
      x-authorization: super_admin
      parameters: [{ $ref: '#/components/parameters/IdempotencyKey' }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason: { type: string, minLength: 3, maxLength: 255 }
      responses:
        '204': { description: ok }

  /admin/devices/{deviceId}/image:
    parameters: [{ $ref: '#/components/parameters/DeviceId' }]
    post:
      tags: [Admin / Devices]
      summary: Upload the barrier photo (multipart)
      description: >
        Admin-only image upload. Server-side validated (real image + MIME + extension, ≤5 MB), optimised
        (downscaled to 1600px + WebP when GD is available), stored on the public disk, and the resulting
        public URL is written to `image_url`. Replaces (and deletes) any previously uploaded file. The
        response `image_url` contract is unchanged — a plain string URL.
      operationId: adminUploadDeviceImage
      security:
        - adminBearerAuth: []
      x-authorization: technical or super_admin (devices.update)
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [image]
              properties:
                image:
                  type: string
                  format: binary
                  description: JPG, JPEG, PNG or WEBP — max 5 MB
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DeviceAdmin' }
        '422': { $ref: '#/components/responses/ValidationError' }
    delete:
      tags: [Admin / Devices]
      summary: Remove the barrier photo
      operationId: adminDeleteDeviceImage
      security:
        - adminBearerAuth: []
      x-authorization: technical or super_admin (devices.update)
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DeviceAdmin' }

  /admin/devices/{deviceId}/whitelist/resync:
    parameters: [{ $ref: '#/components/parameters/DeviceId' }]
    post:
      tags: [Admin / Devices]
      summary: Force full whitelist resync to device
      operationId: adminResyncWhitelist
      security:
        - adminBearerAuth: []
      x-authorization: technical or super_admin
      parameters: [{ $ref: '#/components/parameters/IdempotencyKey' }]
      responses:
        '202': { description: Resync queued }

  /admin/devices/{deviceId}/disable:
    parameters: [{ $ref: '#/components/parameters/DeviceId' }]
    post:
      tags: [Admin / Devices]
      summary: Disable (block opens; keep history)
      operationId: adminDisableDevice
      security:
        - adminBearerAuth: []
      x-authorization: super_admin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason: { type: string, maxLength: 255 }
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DeviceAdmin' }

  /admin/devices/{deviceId}/enable:
    parameters: [{ $ref: '#/components/parameters/DeviceId' }]
    post:
      tags: [Admin / Devices]
      summary: Re-enable a disabled device
      operationId: adminEnableDevice
      security:
        - adminBearerAuth: []
      x-authorization: super_admin
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DeviceAdmin' }

  /admin/devices/{deviceId}/transfer:
    parameters: [{ $ref: '#/components/parameters/DeviceId' }]
    post:
      tags: [Admin / Devices]
      summary: Transfer ownership to another user
      operationId: adminTransferDevice
      security:
        - adminBearerAuth: []
      x-authorization: super_admin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [new_owner_phone, reason]
              properties:
                new_owner_phone: { type: string, pattern: '^\+994\d{9}$' }
                reason: { type: string, maxLength: 255 }
                keep_existing_users: { type: boolean, default: true }
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DeviceAdmin' }

  /admin/devices/{deviceId}/commands:
    parameters: [{ $ref: '#/components/parameters/DeviceId' }]
    get:
      tags: [Admin / Devices]
      summary: Open-command history (all users)
      operationId: adminDeviceCommands
      security:
        - adminBearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - in: query
          name: state
          schema: { type: string, enum: [queued, dispatched, opened, failed, expired] }
        - in: query
          name: since
          schema: { type: string, format: date-time }
        - in: query
          name: until
          schema: { type: string, format: date-time }
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema: { $ref: '#/components/schemas/OpenCommandListResponse' }

  /admin/devices/{deviceId}/diagnostics:
    parameters: [{ $ref: '#/components/parameters/DeviceId' }]
    get:
      tags: [Admin / Devices]
      summary: Diagnostics history
      operationId: adminDeviceDiagnostics
      security:
        - adminBearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DeviceDiagnosticListResponse' }

  /admin/devices/{deviceId}/whitelist-queue:
    parameters: [{ $ref: '#/components/parameters/DeviceId' }]
    get:
      tags: [Admin / Devices]
      summary: Pending and recent whitelist changes
      operationId: adminWhitelistQueue
      security:
        - adminBearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - in: query
          name: status
          schema: { type: string, enum: [pending, in_progress, synced, failed, cancelled] }
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema: { $ref: '#/components/schemas/WhitelistChangeListResponse' }

  # ----- Admin Lookups ------------------------------------------------------
  /admin/lookups/sim-operators:
    get:
      tags: [Admin / Lookups]
      summary: List SIM operators
      operationId: adminListSimOperators
      security: [{ adminBearerAuth: [] }]
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/SimOperator' }

  /admin/lookups/device-models:
    get:
      tags: [Admin / Lookups]
      summary: List device models
      operationId: adminListDeviceModels
      security: [{ adminBearerAuth: [] }]
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/DeviceModel' }

  /admin/lookups/regions:
    get:
      tags: [Admin / Lookups]
      summary: List regions
      operationId: adminListRegions
      security: [{ adminBearerAuth: [] }]
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Region' }

  # ----- Admin Orders -------------------------------------------------------
  /admin/orders:
    get:
      tags: [Admin / Orders]
      summary: List orders
      operationId: adminListOrders
      security: [{ adminBearerAuth: [] }]
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - in: query
          name: status
          schema:
            type: string
            enum: [pending, authorising, paid, failed, cancelled, refunded, partially_refunded, expired]
        - in: query
          name: purpose
          schema: { type: string, enum: [device_sale, sub_main, sub_additional, sub_renewal, bundle] }
        - in: query
          name: payer_user_id
          schema: { type: integer, format: int64 }
        - in: query
          name: since
          schema: { type: string, format: date-time }
        - in: query
          name: until
          schema: { type: string, format: date-time }
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema: { $ref: '#/components/schemas/OrderListResponse' }

  /admin/orders/{orderId}:
    parameters: [{ $ref: '#/components/parameters/OrderId' }]
    get:
      tags: [Admin / Orders]
      summary: Order detail with full payment timeline
      operationId: adminGetOrder
      security: [{ adminBearerAuth: [] }]
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema: { $ref: '#/components/schemas/OrderDetail' }

  /admin/orders/{orderId}/refund:
    parameters: [{ $ref: '#/components/parameters/OrderId' }]
    post:
      tags: [Admin / Refunds]
      summary: Initiate a refund against an order
      operationId: adminRefundOrder
      security: [{ adminBearerAuth: [] }]
      x-authorization: super_admin
      parameters: [{ $ref: '#/components/parameters/IdempotencyKeyRequired' }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [amount_minor, reason]
              properties:
                amount_minor:
                  type: integer
                  minimum: 1
                  description: Refunded amount in qəpik; must be <= the order's net (gross minus prior refunds).
                reason:
                  type: string
                  minLength: 3
                  maxLength: 255
      responses:
        '201':
          description: Refund initiated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Refund' }
        '409':
          description: Order not refundable in current state
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /admin/orders/{orderId}/recheck:
    parameters: [{ $ref: '#/components/parameters/OrderId' }]
    post:
      tags: [Admin / Orders]
      summary: Force a bank-status recheck
      operationId: adminRecheckOrder
      security: [{ adminBearerAuth: [] }]
      x-authorization: super_admin
      parameters: [{ $ref: '#/components/parameters/IdempotencyKey' }]
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Order' }

  /admin/refunds:
    get:
      tags: [Admin / Refunds]
      summary: List refunds across all orders
      operationId: adminListRefunds
      security: [{ adminBearerAuth: [] }]
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - in: query
          name: status
          schema: { type: string, enum: [requested, processing, approved, rejected, failed] }
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RefundListResponse' }

  # ----- Admin Subscriptions ------------------------------------------------
  /admin/subscriptions:
    get:
      tags: [Admin / Subscriptions]
      summary: List subscriptions
      operationId: adminListSubscriptions
      security: [{ adminBearerAuth: [] }]
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - in: query
          name: status
          schema: { type: string, enum: [pending_payment, active, expired, cancelled, refunded] }
        - in: query
          name: expires_within_days
          schema: { type: integer, minimum: 1, maximum: 90 }
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SubscriptionListResponse' }

  # ----- Admin Reports ------------------------------------------------------
  /admin/reports/revenue:
    get:
      tags: [Admin / Reports]
      summary: Revenue by day / purpose (from materialised stats)
      operationId: adminReportsRevenue
      security: [{ adminBearerAuth: [] }]
      parameters:
        - in: query
          name: since
          required: true
          schema: { type: string, format: date }
        - in: query
          name: until
          required: true
          schema: { type: string, format: date }
        - in: query
          name: purpose
          schema: { type: string, enum: [device_sale, sub_main, sub_additional, sub_renewal, bundle] }
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RevenueReport' }

  /admin/reports/devices:
    get:
      tags: [Admin / Reports]
      summary: Device-health distribution and per-region rollup
      operationId: adminReportsDevices
      security: [{ adminBearerAuth: [] }]
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DeviceReport' }

  /admin/reports/subscriptions:
    get:
      tags: [Admin / Reports]
      summary: Subscription counts by status, churn proxy
      operationId: adminReportsSubscriptions
      security: [{ adminBearerAuth: [] }]
      parameters:
        - in: query
          name: since
          required: true
          schema: { type: string, format: date }
        - in: query
          name: until
          required: true
          schema: { type: string, format: date }
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SubscriptionReport' }

  /admin/report-jobs:
    get:
      tags: [Admin / Reports]
      summary: List async report jobs
      operationId: adminListReportJobs
      security: [{ adminBearerAuth: [] }]
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - in: query
          name: status
          schema: { type: string, enum: [queued, running, succeeded, failed, expired] }
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ReportJobListResponse' }
    post:
      tags: [Admin / Reports]
      summary: Queue a long-running export (CSV/Parquet to S3)
      operationId: adminCreateReportJob
      security: [{ adminBearerAuth: [] }]
      parameters: [{ $ref: '#/components/parameters/IdempotencyKey' }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ReportJobCreate' }
      responses:
        '202':
          description: Queued
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ReportJob' }

  /admin/report-jobs/{jobId}:
    parameters:
      - in: path
        name: jobId
        required: true
        schema: { type: integer, format: int64 }
    get:
      tags: [Admin / Reports]
      summary: Report job status
      operationId: adminGetReportJob
      security: [{ adminBearerAuth: [] }]
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ReportJob' }
        '404': { $ref: '#/components/responses/NotFound' }

  # ----- Admin Audit --------------------------------------------------------
  /admin/audit:
    get:
      tags: [Admin / Audit]
      summary: Search the audit log
      operationId: adminAuditSearch
      security: [{ adminBearerAuth: [] }]
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - in: query
          name: actor_kind
          schema: { type: string, enum: [user, admin, system] }
        - in: query
          name: actor_id
          schema: { type: integer, format: int64 }
        - in: query
          name: action
          schema: { type: string, maxLength: 80 }
        - in: query
          name: entity_type
          schema: { type: string, maxLength: 40 }
        - in: query
          name: entity_id
          schema: { type: integer, format: int64 }
        - in: query
          name: since
          schema: { type: string, format: date-time }
        - in: query
          name: until
          schema: { type: string, format: date-time }
        - in: query
          name: ip
          schema: { type: string }
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AuditLogListResponse' }

  # ----- Admin Settings -----------------------------------------------------
  /admin/settings:
    get:
      tags: [Admin / Settings]
      summary: List all settings
      operationId: adminListSettings
      security: [{ adminBearerAuth: [] }]
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Setting' }

  /admin/settings/{key}:
    parameters:
      - in: path
        name: key
        required: true
        schema: { type: string, maxLength: 80 }
    patch:
      tags: [Admin / Settings]
      summary: Update a setting value
      operationId: adminUpdateSetting
      security: [{ adminBearerAuth: [] }]
      x-authorization: super_admin
      parameters: [{ $ref: '#/components/parameters/IdempotencyKey' }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [value]
              properties:
                value: {}
                description: { type: string, maxLength: 255 }
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Setting' }
        '422': { $ref: '#/components/responses/ValidationError' }

  # ----- Admin Feature Flags ------------------------------------------------
  /admin/feature-flags:
    get:
      tags: [Admin / Feature Flags]
      summary: List flags
      operationId: adminListFeatureFlags
      security: [{ adminBearerAuth: [] }]
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/FeatureFlag' }

  /admin/feature-flags/{key}:
    parameters:
      - in: path
        name: key
        required: true
        schema: { type: string, maxLength: 80 }
    patch:
      tags: [Admin / Feature Flags]
      summary: Update a flag
      operationId: adminUpdateFeatureFlag
      security: [{ adminBearerAuth: [] }]
      x-authorization: super_admin
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/FeatureFlagUpdate' }
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema: { $ref: '#/components/schemas/FeatureFlag' }

  # ----- Admin Notifications (campaigns) -----------------------------------
  /admin/notifications:
    get:
      tags: [Admin / Notifications]
      summary: List notification campaigns
      operationId: adminListNotificationCampaigns
      security: [{ adminBearerAuth: [] }]
      x-authorization: notifications.view
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - in: query
          name: status
          schema: { type: string, enum: [draft, queued, sending, sent, failed] }
      responses:
        '200':
          description: ok (complex_manager sees only its own complex's campaigns)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/NotificationCampaignListResponse' }
    post:
      tags: [Admin / Notifications]
      summary: Create and send a system notification (send now)
      description: >-
        Fan-out to a resident audience as push + inapp (fixed channels; no campaign channels_mask).
        complex_manager is server-scoped to its own complex. Recipients dedupe to distinct user_id.
        Requires confirmed=true and an Idempotency-Key.
      operationId: adminSendNotification
      security: [{ adminBearerAuth: [] }]
      x-authorization: notifications.send
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyRequired'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/NotificationCampaignCreate' }
      responses:
        '202':
          description: accepted — fan-out queued
          content:
            application/json:
              schema: { $ref: '#/components/schemas/NotificationCampaign' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { description: confirmation required (confirmed=true missing) }
        '422': { $ref: '#/components/responses/ValidationError' }

  /admin/notifications/audience/preview:
    post:
      tags: [Admin / Notifications]
      summary: Resolve the recipient count for an audience (before confirmation)
      operationId: adminPreviewNotificationAudience
      security: [{ adminBearerAuth: [] }]
      x-authorization: notifications.view
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [audience]
              properties:
                audience: { $ref: '#/components/schemas/AudienceSpec' }
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AudiencePreview' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /admin/notifications/{campaignId}:
    parameters:
      - in: path
        name: campaignId
        required: true
        schema: { type: integer, format: int64 }
    get:
      tags: [Admin / Notifications]
      summary: Campaign detail + delivery stats
      operationId: adminGetNotificationCampaign
      security: [{ adminBearerAuth: [] }]
      x-authorization: notifications.view
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema: { $ref: '#/components/schemas/NotificationCampaign' }
        '404': { $ref: '#/components/responses/NotFound' }

  # ----- Admin Notification Templates --------------------------------------
  /admin/notification-templates:
    get:
      tags: [Admin / Notification Templates]
      summary: List templates
      operationId: adminListNotificationTemplates
      security: [{ adminBearerAuth: [] }]
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/NotificationTemplate' }

  /admin/notification-templates/{key}:
    parameters:
      - in: path
        name: key
        required: true
        schema: { type: string, maxLength: 80 }
    get:
      tags: [Admin / Notification Templates]
      summary: Template detail with all locales
      operationId: adminGetNotificationTemplate
      security: [{ adminBearerAuth: [] }]
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema: { $ref: '#/components/schemas/NotificationTemplateDetail' }
        '404': { $ref: '#/components/responses/NotFound' }
    patch:
      tags: [Admin / Notification Templates]
      summary: Update template metadata (channels mask, active state)
      operationId: adminUpdateNotificationTemplate
      security: [{ adminBearerAuth: [] }]
      x-authorization: super_admin
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/NotificationTemplateUpdate' }
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema: { $ref: '#/components/schemas/NotificationTemplate' }

  /admin/notification-templates/{key}/locales/{locale}:
    parameters:
      - in: path
        name: key
        required: true
        schema: { type: string, maxLength: 80 }
      - in: path
        name: locale
        required: true
        schema: { type: string, enum: [az, ru, en] }
    put:
      tags: [Admin / Notification Templates]
      summary: Upsert a locale body
      operationId: adminUpsertNotificationTemplateLocale
      security: [{ adminBearerAuth: [] }]
      x-authorization: super_admin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [body]
              properties:
                subject: { type: string, maxLength: 160, nullable: true }
                body: { type: string, minLength: 1, maxLength: 4000 }
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema: { $ref: '#/components/schemas/NotificationTemplateLocale' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /admin/notification-templates/{key}/preview:
    parameters:
      - in: path
        name: key
        required: true
        schema: { type: string }
    post:
      tags: [Admin / Notification Templates]
      summary: Render a template with sample variables
      operationId: adminPreviewNotificationTemplate
      security: [{ adminBearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [locale, variables]
              properties:
                locale: { type: string, enum: [az, ru, en] }
                variables: { type: object, additionalProperties: true }
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  subject: { type: string, nullable: true }
                  body: { type: string }

# =============================================================================
# COMPONENTS
# =============================================================================
components:

  # ---------------------------------------------------------------------------
  # Security Schemes
  # ---------------------------------------------------------------------------
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        Mobile JWT issued by `/auth/otp/verify` or `/auth/refresh`.
        Algorithm RS256, 15-minute TTL. Subject is `user.{id}`.
    adminBearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        Admin JWT issued by `/admin/v1/auth/2fa/verify`. Disjoint identity space
        from `bearerAuth`. Algorithm RS256, 30-minute TTL.
    bankCallbackSignature:
      type: apiKey
      in: header
      name: X-Kapital-Signature
      description: |
        HMAC-SHA256 hex digest of the canonical request body using the shared
        secret negotiated with Kapital Bank. Verified before any state mutation.
    smsProviderSignature:
      type: apiKey
      in: header
      name: X-Sms-Signature
      description: HMAC signature from the inbound SMS provider.

  # ---------------------------------------------------------------------------
  # Reusable Parameters
  # ---------------------------------------------------------------------------
  parameters:
    DeviceId:
      in: path
      name: deviceId
      required: true
      schema: { type: integer, format: int64, minimum: 1 }
    SubscriptionId:
      in: path
      name: subscriptionId
      required: true
      schema: { type: integer, format: int64, minimum: 1 }
    OrderId:
      in: path
      name: orderId
      required: true
      schema: { type: integer, format: int64, minimum: 1 }
    Limit:
      in: query
      name: limit
      required: false
      schema: { type: integer, minimum: 1, maximum: 100, default: 25 }
    Cursor:
      in: query
      name: cursor
      required: false
      schema: { type: string, maxLength: 200 }
      description: Opaque pagination cursor returned in previous `page.next_cursor`.
    IdempotencyKey:
      in: header
      name: Idempotency-Key
      required: false
      schema: { type: string, minLength: 1, maxLength: 60 }
      description: |
        Optional. Same `(scope, actor, key)` returns the cached response for 24 h.
        Same key + different body → `409 idempotency_mismatch`.
    IdempotencyKeyRequired:
      in: header
      name: Idempotency-Key
      required: true
      schema: { type: string, minLength: 1, maxLength: 60 }
      description: |
        Required. Same `(scope, actor, key)` returns the cached response for 24 h.

  # ---------------------------------------------------------------------------
  # Reusable Headers
  # ---------------------------------------------------------------------------
  headers:
    XRateLimitLimit:
      schema: { type: integer }
      description: Window quota
    XRateLimitRemaining:
      schema: { type: integer }
      description: Remaining requests in the current window
    XRateLimitReset:
      schema: { type: integer }
      description: Unix epoch seconds at which the window resets
    RetryAfter:
      schema: { type: integer }
      description: Seconds before next retry is permitted

  # ---------------------------------------------------------------------------
  # Reusable Responses
  # ---------------------------------------------------------------------------
  responses:
    Unauthenticated:
      description: Missing / invalid / expired credentials
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    Forbidden:
      description: Authenticated but not allowed
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    ValidationError:
      description: Field-level validation failures
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ValidationErrorEnvelope' }
    RateLimited:
      description: Bucket exhausted
      headers:
        Retry-After: { $ref: '#/components/headers/RetryAfter' }
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    IdempotencyConflict:
      description: Same Idempotency-Key with a different request body
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    PaymentProviderUnavailable:
      description: Kapital Bank degraded
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }

  # ---------------------------------------------------------------------------
  # Schemas
  # ---------------------------------------------------------------------------
  schemas:

    # ----- Errors --------------------------------------------------------
    Error:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
              example: subscription_required
            message_key:
              type: string
              example: errors.subscription_required
            message:
              type: string
              example: Aboneliyiniz başa çatıb.
            details:
              type: object
              additionalProperties: true
              nullable: true
            request_id:
              type: string
              example: 01JCGZ9F9XZ7P0X5MFK7Z7VYNZ

[...]
